{{ 'main-page-stories.css' | asset_url | stylesheet_tag }}
{{ 'main-page-stories_One.css' | asset_url | stylesheet_tag }}
{{ 'main-page-stories_Two.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-page-stories.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-page-stories_One.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-page-stories_Two.js' | asset_url }}" defer="defer"></script>

<div class="storiesTitle">
    <p>Stories</p>
</div>
<div class="storiesSubTitle">
    <ul>
        <li><a href=""><hr></a></li>
        <li><a href="">Customer Sharing</a></li>
        <li><a href=""><hr></a></li>
    </ul>
</div>


<div class="userCommentStory">
    <div id="userStory">
        <div id="userStory_wrapper">
            <div class="uni_imgSlider">
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img3.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Micah Putman</p>
                            <p>I need to get one for myself! I bought this bike for my wife. Even with the trailer and the 2 kids I can only keep up on flat areas. Hit a hill bye bye, I hope you wait for me  hunny. She loves the bike and wants to bikes all the time. I have taken it for a few spins. Man I love it too. Rides so nice and with the power assist on feels like an exercise bike on the lowest setting. I race a kid on gas dirt bike and won! Thanks for making this fun bike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img1.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Chris Fontana</p>
                            <p>Love 'emThis is our second batch of Nakto bikes. We started with the Camels. We love the stripped down version so much better. We are over 60 and we drive them all around on rail trails and around the village where we live. They are so eye-catching and we get so many comments. We've had them now for about six months. I have nothing to complain about. They are fast and zippy. Super easy to use. If you're looking for a good beginners Ebike you can't go wrong with this. Simple to use, not a lot of gears to go wrong. They have three speed and the fast speed is pretty fast, my partner won't go fast but she's old!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img3.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Micah Putman</p>
                            <p>I need to get one for myself! I bought this bike for my wife. Even with the trailer and the 2 kids I can only keep up on flat areas. Hit a hill bye bye, I hope you wait for me  hunny. She loves the bike and wants to bikes all the time. I have taken it for a few spins. Man I love it too. Rides so nice and with the power assist on feels like an exercise bike on the lowest setting. I race a kid on gas dirt bike and won! Thanks for making this fun bike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img1.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Chris Fontana</p>
                            <p>Love 'emThis is our second batch of Nakto bikes. We started with the Camels. We love the stripped down version so much better. We are over 60 and we drive them all around on rail trails and around the village where we live. They are so eye-catching and we get so many comments. We've had them now for about six months. I have nothing to complain about. They are fast and zippy. Super easy to use. If you're looking for a good beginners Ebike you can't go wrong with this. Simple to use, not a lot of gears to go wrong. They have three speed and the fast speed is pretty fast, my partner won't go fast but she's old!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
            </div>	
        </div>
        <div id="userStory_ctlBtn1">
          <div class="leftBtns"></div>
        </div>
    </div>
</div>

<div class="userCommentStory_One">
    <div id="userStory_One">
        <div id="userStory_One_wrapper">
            <div class="uni_imgSlider">
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img3.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Micah Putman</p>
                            <p>I need to get one for myself! I bought this bike for my wife. Even with the trailer and the 2 kids I can only keep up on flat areas. Hit a hill bye bye, I hope you wait for me  hunny. She loves the bike and wants to bikes all the time. I have taken it for a few spins. Man I love it too. Rides so nice and with the power assist on feels like an exercise bike on the lowest setting. I race a kid on gas dirt bike and won! Thanks for making this fun bike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img1.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Chris Fontana</p>
                            <p>Love 'emThis is our second batch of Nakto bikes. We started with the Camels. We love the stripped down version so much better. We are over 60 and we drive them all around on rail trails and around the village where we live. They are so eye-catching and we get so many comments. We've had them now for about six months. I have nothing to complain about. They are fast and zippy. Super easy to use. If you're looking for a good beginners Ebike you can't go wrong with this. Simple to use, not a lot of gears to go wrong. They have three speed and the fast speed is pretty fast, my partner won't go fast but she's old!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img3.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Micah Putman</p>
                            <p>I need to get one for myself! I bought this bike for my wife. Even with the trailer and the 2 kids I can only keep up on flat areas. Hit a hill bye bye, I hope you wait for me  hunny. She loves the bike and wants to bikes all the time. I have taken it for a few spins. Man I love it too. Rides so nice and with the power assist on feels like an exercise bike on the lowest setting. I race a kid on gas dirt bike and won! Thanks for making this fun bike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img1.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Chris Fontana</p>
                            <p>Love 'emThis is our second batch of Nakto bikes. We started with the Camels. We love the stripped down version so much better. We are over 60 and we drive them all around on rail trails and around the village where we live. They are so eye-catching and we get so many comments. We've had them now for about six months. I have nothing to complain about. They are fast and zippy. Super easy to use. If you're looking for a good beginners Ebike you can't go wrong with this. Simple to use, not a lot of gears to go wrong. They have three speed and the fast speed is pretty fast, my partner won't go fast but she's old!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
            </div>	
        </div>
        <div id="userStory_One_ctlBtn1">
          <div class="leftBtns"></div>
        </div>
    </div>
</div>

<div class="userCommentStory_Two">
    <div id="userStory_Two">
        <div id="userStory_Two_wrapper">
            <div class="uni_imgSlider">
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img3.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Micah Putman</p>
                            <p>I need to get one for myself! I bought this bike for my wife. Even with the trailer and the 2 kids I can only keep up on flat areas. Hit a hill bye bye, I hope you wait for me  hunny. She loves the bike and wants to bikes all the time. I have taken it for a few spins. Man I love it too. Rides so nice and with the power assist on feels like an exercise bike on the lowest setting. I race a kid on gas dirt bike and won! Thanks for making this fun bike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img1.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Chris Fontana</p>
                            <p>Love 'emThis is our second batch of Nakto bikes. We started with the Camels. We love the stripped down version so much better. We are over 60 and we drive them all around on rail trails and around the village where we live. They are so eye-catching and we get so many comments. We've had them now for about six months. I have nothing to complain about. They are fast and zippy. Super easy to use. If you're looking for a good beginners Ebike you can't go wrong with this. Simple to use, not a lot of gears to go wrong. They have three speed and the fast speed is pretty fast, my partner won't go fast but she's old!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img3.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Micah Putman</p>
                            <p>I need to get one for myself! I bought this bike for my wife. Even with the trailer and the 2 kids I can only keep up on flat areas. Hit a hill bye bye, I hope you wait for me  hunny. She loves the bike and wants to bikes all the time. I have taken it for a few spins. Man I love it too. Rides so nice and with the power assist on feels like an exercise bike on the lowest setting. I race a kid on gas dirt bike and won! Thanks for making this fun bike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img1.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Chris Fontana</p>
                            <p>Love 'emThis is our second batch of Nakto bikes. We started with the Camels. We love the stripped down version so much better. We are over 60 and we drive them all around on rail trails and around the village where we live. They are so eye-catching and we get so many comments. We've had them now for about six months. I have nothing to complain about. They are fast and zippy. Super easy to use. If you're looking for a good beginners Ebike you can't go wrong with this. Simple to use, not a lot of gears to go wrong. They have three speed and the fast speed is pretty fast, my partner won't go fast but she's old!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
            </div>	
        </div>
        <div id="userStory_Two_ctlBtn1">
          <div class="leftBtns"></div>
        </div>
    </div>
</div>