

{%- style -%}
.sectionMainIndex{
  width: 100%;
  border: 1px solid #222;
  position: relative;
}

#sectionMainIndex-{{ section.id }} > .advertingBlock{
  postion: absolute;
  top: 30px;
  left: 50px;
  border: 1px solid #a4de2f;
}



{%- endstyle -%}

<div id="sectionMainIndex-{{ section.id }}" class="sectionMainIndex">
    <div>
        <!-- <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main1_4628ffd7-bb2a-45f5-81c8-67c0943fd354.jpg?v=1641362325" class="bannerMainImage"> -->
        <img src="{{ section.settings.image | img_url: '1500x' }}" class="bannerMainImage">
    </div>
    <div class="advertingBlock">
        <ul>
            <!-- <li class="textProductName"></li> -->
            {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <li class="textProductName-{{ block.id }}">{{ block.settings.text | escape }}</li>
                {%- style -%}
                #sectionMainIndex-{{ section.id }} > .advertingBlock > .textProductName-{{ block.id }}{
                  color: {{ block.settings.text_color }};
                }
                {%- endstyle -%}
            {%- endcase -%}
            {%- endfor -%}
        </ul>
    </div>
</div>



{% schema %}
{
  "name": "homepage-slider",
  "settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "image"
  }
  ],
  "blocks": [
  {
    "type": "heading",
    "name": "heading_text",
    "limit": 3,
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "text"
      },
      {
        "type": "range",
        "id": "text_size",
        "label": "text_size",
        "min": 10,
        "max": 50,
        "default": 10
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "text_color",
        "default": "#222"
      }
    ]
  }
  ],
  "presets":[
    {
      "name": "homepage-slider",
      "blocks":[
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}