{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post-20210115.css' | asset_url | stylesheet_tag }}
<script src="{{ 'social_share_btn.js' | asset_url }}" defer="defer"></script>

<div class="pageMainLayout">
  <div class="mainContent">
    <div class="leftContent">
      <div class="leftContentTitle">5 tips you need to know before buying a fat tire e-bike</div>
      <div class="leftContentSubtitle">
        <div>January 15, 2021 <span style="color: black;">by Vincent W</span></div><div>Share:<a href="#" class="facebookBtn"><i class="fa fa-facebook"></i></a><a href="" class="twitterBtn"><i class="fa fa-twitter"></i></a><a href="" class="pinterestBtn"><i class="fa fa-pinterest"></i></a><a href="" class="envelopeBtn"><i class="fa fa-envelope-o"></i></a><a href="#" class="linkedinBtn"><i class="fa fa-linkedin"></i></a></div>
      </div>
      <div class="leftContentBriefContent">
        <p><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220115-main-img.jpg?v=1642658108" width="100%" alt=""></p>
        <p>We thought it'd be good to take a look at some of the tips you need to know before buying one! These tips will give you an idea bout what to look out for, so read on for a buyer's guide that will steer you away from some common pitfalls.</p>
      </div>
      <div class="subNavigator1">1.Look Out For Tire Size</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p>Yes, fat tires are by there very nature, well, fat. But, they do vary in sizes. 4 inches are pretty standard for fat tires as we mentioned earlier, but there are tires that go even fatter.</p>
            <P><img class="batteryLifeImg" src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220115-tire-size-img.jpg?v=1642658290" width="50%" alt=""></P>
            <p>Generally we'd recommend somewhere close to 4 inches for your more casual mountain trail rider and for use on roads etc. If you're somebody who is in to slightly more extreme mountain bike riding, then you might want to look for tires that are even fatter. This is because the fatter the tire, the more surface area, and so there is more friction for stability. This is important for safety on slightly more dangerous trails. So, the first thing you need to consider is what you are going to be using the fat tire ebike for, and then look for one with a tire size that suits your personal needs.</p>
          </div>
        </div>
      </div>

      <div class="subNavigator1">2.Suspension Is Important</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p>As we pointed out in our Nakto Super Cruiser review, the suspension system of your fat tire ebike is important. You might end up paying a little extra for a fat tire ebike with a front suspension system that is capable of absorbing the shocks of the trail, but it's going to make your ride that much more comfortable - so it's definitely worth it. If you only plan to use your fat tire ebike on the roads and less demanding trails, then you could probably get away with saving a little more money by purchasing a fat tire ebike that is rigid and doesn't provide you with this sort of suspension system. Again, it all comes down to what you plan on using your ebike for, so make sure you have this clear in your mind before buying.</p>
          </div>
        </div>
      </div>

      <div class="subNavigator1">3.Check Out The Battery</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p>If it isn't lithium-ion, we'd recommend you move on. Lead acid batteries and other types are probably less common on ebikes than lithium-ion varieties, but they are certainly still out there and it's a pitfall you'll want to avoid.</p>
            <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220115-battery-img.jpg?v=1642658445" width="60%" alt="">
            <p>Lithium-ion batteries generally last around 3 years, but they can last as long as 5 depending on usage. This is great, because purchasing a new battery for your ebike can become costly if your battery is unreliable and constantly needs replacing. Looking for a fat tire ebike with a lithium-ion battery will prevent this from happening to you.</p>
          </div>
        </div>
      </div>

      <div class="subNavigator1">4.The Wattage Of The Motor</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p>Now, this is important for those people who are hoping to take their fat tire ebike on mountain trails and other hard to reach places. Look at the Watts (W) of the motor that is offered with the fat tire ebike. As a rule, we'd recommend not going below 300W for a fat tire ebike, because anything less will mean you aren't really benefiting from having the fat tire ebike anyway. 350-500W is about right for any rider hoping to use their fat tire ebike on less demanding trails and roads, because it's more than powerful enough to handle that. Something like a 250W motor is more designed for road use only, so the benefits of the fat tires are largely lost if you get a motor with this sort of power. Since your new ebike won't be capable of exploring more versatile environments anyway with 250W, it would be pointless having the fat tires. If you're something of an extreme sport enthusiast though, the steeper trails you'll be looking to conquer will require something with a little more power. 500W to 750W is best in these scenarios. It will cost you quite a bit more, but it's absolutely necessary if you hope to actually complete the trail you set out on. </p>
          </div>
        </div>
      </div>

      <div class="subNavigator1">5.After-sale service</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p>You need to know warranty police. Good after-sales service is also a factor to consider before buying a fite tire electric bicycle. Fat tire electric bicycles are faced with various complex terrains, so good after-sales service is required. If you need to replace accessories (such as front fork , fender, displayer, etc.), then a good after-sales service during the warranty period will give you a better riding experience.</p>
            <p><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220115-after-sales-img.jpg?v=1642658581" width="100%" alt=""></p>
          </div>
        </div>
      </div>
      <div class="productSuggest">
        <ul>
          <li><a href="/products/foldingoxw"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20210130-btm-img-1.png?v=1642649417" width="100%"></a></li>
          <li><a href="/products/foldingoxw">Folding OX</a></li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="btmContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a href="/products/super-cruiser"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20210130-btm-img-2.png?v=1642649417" width="100%"></a></li>
          <li><a href="/products/super-cruiser">Super Cruiser</a></li>
          <li>$1299.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690149331104" />
              <input type="submit" value="BUY NOW" class="btmContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a href="/products/santa-monica"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20210130-btm-img-3.png?v=1642649417" width="100%"></a></li>
          <li><a href="/products/santa-monica">Santa Monica</a></li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690015932576" />
              <input type="submit" value="BUY NOW" class="btmContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a href="/products/cruiser"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20210130-btm-img-4.png?v=1642649417" width="100%"></a></li>
          <li><a href="/products/cruiser">Cruiser</a></li>
          <li>$999.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40224697647264" />
              <input type="submit" value="BUY NOW" class="btmContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a href="/products/mini-cruiser"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20210130-btm-img-5.png?v=1642649417" width="100%"></a></li>
          <li><a href="/products/mini-cruiser">Mini Cruiser</a></li>
          <li>$949.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40355053928608" />
              <input type="submit" value="BUY NOW" class="btmContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a href="/products/discovery"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20210130-btm-img-6.png?v=1642649417" width="100%"></a></li>
          <li><a href="/products/discovery">Nakto Discovery</a></li>
          <li>$999.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40212347879584" />
              <input type="submit" value="BUY NOW" class="btmContentbtn" />
            </form>
          </li>
        </ul>


      </div>

      <div><hr></div>
    </div>
    <div class="rightContent">
      <div class="subscribe_block_frame">
        <div>Sign Up</div>
        <div>Become an NAKTO insider today, Sign up to get the latest on sales, new releases, and more.</div>
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">
          <input type="hidden" name="form_type" value="contact">
          <input type="hidden" name="utf8" value="✓">
          <div>
              <div>
                  <div>
                      <input type="email" name="contact[email]" placeholder="Enter email address" required="required" value="">
                  </div>
              </div>
              <div>
                  <div>
                      <button type="submit">Subscribe</button>
                  </div>
              </div>
          </div>
        </form>
      </div>
      <div class="fatTireEbikeBlock">
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220115-rightCol-img.jpg?v=1642658742" width="100%" alt="">
        <div class="fatTireEbikeBlock_1">Shop our fat tire ebike</div>
        <div class="fatTireEbikeBlock_2"><a href="/collections/fat-tire-ebike">SHOP NOW</a></div>
      </div>
      <div class="productList">
        <ul>
          <li><a href="/products/foldingoxw"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20210130-btm-img-1.png?v=1642649417" width="100%"></a></li>
          <li><a href="/products/foldingoxw">Folding OX</a></li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="ADD TO CART" class="rightContentbtn" />
            </form>
          </li>
        </ul>

      </div>
      <div class="popularBlogsBlockTitle" style="display:none; text-align: center; font-size: 20px; font-weight: bold; padding: 0; margin: 0;">Popular Blogs</div>
      <div class="popularBlogsBlock" style="display: none;">
        <ul>
          <li><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main_img_1_ba025268-df6f-4a9b-bef1-3c25268d4d5a.jpg?v=1642410704" width="100%"></a></li>
          <li>How To Choose Electric Bike For Women 2022</li>
          <li>How To Choose Electric Bike For Women 2022 JANUARY 5,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_2.jpg?v=1642410704" width="100%"></a></li>
          <li>All You Need To Know About Class 2 Bike</li>
          <li>All You Need To Know About Ebike Classes December 23,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/why-is-nakto-santamonica-so-impressive"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_3.jpg?v=1642410704" width="100%"></a></li>
          <li>Why is Nakto Santamonica so impressive</li>
          <li>Why is Nakto Santamonica so impressive Best fat tire e-bike...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/halloween-around-the-world"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner4.jpg?v=1642410704" width="100%"></a></li>
          <li>Halloween Around The World</li>
          <li>Halloween Around The World October 30, 2021 Share: The traditions...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="element-margin center">
    <a href="{{ blog.url }}" class="article-template__link link animate-arrow{% if blog.comments_enabled? == false %} spaced-section{% endif %}">
      <span class="icon-wrap">{% render 'icon-arrow' %}</span>
      {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
    </a>
  </div>
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-secondary">
      <div id="comments" class="page-width page-width--narrow">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                     {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
            </div>
          {%- endif -%}

          <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
                <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
  </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
