{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post-20211223.css' | asset_url | stylesheet_tag }}
<div class="pageMainLayout">
  <div class="mainBanner">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/nakto_class__2_ebike_banner_img.jpg?v=1642423369" width="80%" alt="">
  </div>
  <div class="mainContent">
    <div class="leftContent">
      <div class="leftContentTitle">All You Need To Know About Ebike Classes</div>
      <div class="leftContentSubtitle">
        <div>DECEMBER 23, 2021</div><div>Share:<a href="#"><i class="fa fa-facebook"></i></a><a href=""><i class="fa fa-twitter"></i></a><a href=""><i class="fa fa-pinterest"></i></a><a href=""><i class="fa fa-envelope-o"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
      </div>
      <div class="leftContentBriefContent">
        <p>Around the 1890s the people of the US first experienced an E-bike. Though.the design of e-bikes was made hundreds of times. But these bikes took a long time to hit the official US market. However, the latest model of an e-bike is inspired by the 1989 model. That model first showed an e-bike with pedal assistance.</p>
        <p>Nowadays. Many experts have innovated excellent e-bike designs. So. modern e-bikes have come a long way from that old model, People love these speedy bikes, But, e-bikes are divided into three categories (in the US) So you should learn more about all these classes before <a href="/collections/all-bikes">buying an e-bike.</a></p>
      </div>
      <div class="contentNavigator">
        <ul>
          <li><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/66_icon1.png?v=1642151999" width="40" alt=""></li>
          <li><p>What you will<br>learn from this<br>article</p></li>
        </ul>
        <ul>
          <li>1. <a href="#positionFind1">How Are E-Bikes Classified?</a></li>
          <li>2. <a href="#positionFind2">What Are The Advantages Of Class 2 E-Bikes?</a></li>
          <li>3. <a href="#positionFind3">Laws and Policies In Different States</a></li>
        </ul>
      </div>
      <div class="subNavigator1" id="positionFind1">How Are E-Bikes Classified?</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p>In the US e-bikes are classified into three categories. The speed of an e-bike depends largely on these categories. So.you should know about each of these classifications.</p>
            <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/nakto_class__2_ebike_navigator1_img.jpg?v=1642423382" width="100%" height="auto" alt="">
          </div>
          <div>
            <p><span style="font-weight: bold;">1) Class 1</span><br>This is a low-speed e-bike. The bike supports a pedal-assisted mode of driving and it can run up to 20 miles/hour, After that, the motor will not support the bike.
              Now, you may ask-what is a pedal-assisted e-bike?
              Pedal-assisted means.you have to pedal your bike to have the support of the motor. In other words, the motor will only support your bike if you pedal. So.no direct throttle.</p>
            <p><span style="font-weight: bold;">2) Class 2</span><br>The class two e-bike is also a low-speed bike. But it has throttle support and the motor will support your bike till you reach 20 miles/hour. After the 20 mph speed limit, the motor will automatically stop supporting your bike.
              Now the question is-what is a throttle-assisted class 2 e-bike?
              A throttle is a manual speed controller of a motor. You can twist the grip or push a button to start it. Throttle-assisting means your e-bike can run without any pedal support. This means you can leave pedaling and you can start throttling to move your e-bike completely depending on the motor.</p>      
            <p><span style="font-weight: bold;">3)Class3</span><br>Class 3 e-bike is known for its speed. Because the motor of this bike can support you until you reach 28 miles/hour. But these bikes run on pedal-assisted mode. So, you have to pedal to get the support of your bike's motor.</p>   
          </div>
        </div>
      </div>


      <div class="subNavigator2" id="positionFind2">Advantages Of Class 2 E-Bikes</div>
      <img class="subNavigator2Img" src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/nakto_class__2_ebike_navigator2_img.jpg?v=1642423382" width="100%" alt="">
      <div class="subNavigator2_a">
        <div>
          <div>
            <p>1) Enjoy Complete E-Biking</p>
            <p>The class 2e-bikes allow you to drive your bike without pedaling. In reality.you are choosing an e-bike so that you don't have to pedal. The motors of other e-bike classes(1 and 3) activate only after pedaling. But class 2 bikes gives you full freedom to enjoy an e-bike in a real way.</p>
          </div>
        </div>
        <div>
          <div>
            <p>2) Stay Within A Safe Speed Limit</p>
            <p>E-bikes may look great. But. too much speed can cause accidents. That's why the class 2 e-bike has 20 miles/hour speed limit. It's a safe speed limit and you can reach your destination floating your hair in the air.</p>
          </div>
        </div>
        <div>
          <div>
            <p>3) Face Almost No Law Restrictions</p>
            <p>The class 3 e-bike or mopeds are considered high-speed rides. On the other hand, class 2e-bikes are seen as innocent bikes. You can run 20 miles/hour on the throttle and you still don't face harder law restrictions. Ain't it great?</p>
          </div>
        </div>
      </div>

      <div class="subNavigator3" id="positionFind3">Laws and Policies In Different States</div>
      <img class="subNavigator3Img" src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/nakto_class__2_ebike_navigator3_img.jpg?v=1642423382" width="100%" alt="">
      <div class="subNavigator3Content">
        <ul>
          <li>Class 3 e-bikes are not allowed on bike paths or trails.</li>
          <li>Class 1 and 2 bikes are looked upon as regular bikes. So.you don't need any licenses to drive them (except-Alabama. New Mexico. Missouri. Alaska. North Dakota and Massachusetts). <a href="https://www.peopleforbikes.org/electric-bikes/state-laws">Check the Law in your state</a>.</li>
          <li>When you are riding a class 3e-bike your age should be 16or above. But. class 1 and 2 bikes don't have any age restrictions</li>
          <li>An e-bike driver and passenger should wear helmets.</li>
          <li>Some states in the US demand that e-bikes should be registered (paid process).</li>
          <li>An e-bike rider must look for signs. Because some lanes are too narrow for e-bikes and some lanes are not meant fore-bikes. So, an e-bike rider should keep his/her eyes open.</li>
        </ul>
      </div>
      <div class="subNavigator3btmText"><p>The class 3 bike is a high-speed e-bike. So.in the future.this bike may experience stricter laws. Class 1 bike requires pedaling. Therefore, class 2 can be a perfect electric bike for you. It has a throttle and a safe speed limit. Hence.riding a class 2 e-bike would be a smart choice.</p></div>
      <div><hr></div>
    </div>
    <div class="rightContent">
      <div class="subscribe_block_frame">
        <div>Sign Up</div>
        <div>Become an NAKTO insider today, Sign up to get the latest on sales, new releases, and more.</div>
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">
          <input type="hidden" name="form_type" value="contact">
          <input type="hidden" name="utf8" value="✓">
          <div>
              <div>
                  <div>
                      <input type="email" name="contact[email]" placeholder="Enter email address" required="required" value="">
                  </div>
              </div>
              <div>
                  <div>
                      <button type="submit">Subscribe</button>
                  </div>
              </div>
          </div>
        </form>
      </div>
      <div>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_camel_women_img.png?v=1642402428" width="100%"></a></li>
          <li>Camel Women 26"</li>
          <li>$739.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40227828531360" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" width="100%"></a></li>
          <li>Folding OX</li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" width="100%"></a></li>
          <li>Folding OX</li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_skylark_img.png?v=1642404188" width="100%"></a></li>
          <li>Skylark</li>
          <li>$699.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40210946654368" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" width="100%"></a></li>
          <li>Folding OX</li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_super_cruiser_img.png?v=1642404330" width="100%"></a></li>
          <li>Super Cruiser</li>
          <li>$1299.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690149331104" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
      </div>
      <div style="text-align: center; font-size: 20px; font-weight: bold; padding: 0; margin: 0;">Popular Blogs</div>
      <div class="popularBlogsBlock">
        <ul>
          <li><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main_img_1_ba025268-df6f-4a9b-bef1-3c25268d4d5a.jpg?v=1642410704" width="100%"></a></li>
          <li>How To Choose Electric Bike For Women 2022</li>
          <li>How To Choose Electric Bike For Women 2022 JANUARY 5,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_2.jpg?v=1642410704" width="100%"></a></li>
          <li>All You Need To Know About Class 2 Bike</li>
          <li>All You Need To Know About Ebike Classes December 23,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/why-is-nakto-santamonica-so-impressive"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_3.jpg?v=1642410704" width="100%"></a></li>
          <li>Why is Nakto Santamonica so impressive</li>
          <li>Why is Nakto Santamonica so impressive Best fat tire e-bike...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/halloween-around-the-world"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner4.jpg?v=1642410704" width="100%"></a></li>
          <li>Halloween Around The World</li>
          <li>Halloween Around The World October 30, 2021 Share: The traditions...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="element-margin center">
    <a href="{{ blog.url }}" class="article-template__link link animate-arrow{% if blog.comments_enabled? == false %} spaced-section{% endif %}">
      <span class="icon-wrap">{% render 'icon-arrow' %}</span>
      {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
    </a>
  </div>
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-secondary">
      <div id="comments" class="page-width page-width--narrow">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                     {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
            </div>
          {%- endif -%}

          <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
                <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
  </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
