{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post-2022011401.css' | asset_url | stylesheet_tag }}
<script src="{{ 'social_share_btn.js' | asset_url }}" defer="defer"></script>

<div class="pageMainLayout">
  <div class="mainBanner">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/halloween_img.jpg?v=1642482787" width="80%" alt="">
  </div>
  <div class="mainContent">
    <div class="leftContent">
      <div class="leftContentTitle">All You Need To Know About Ebike Classes</div>
      <div class="leftContentSubtitle">
        <div>OCTOBER 30, 2021</div><div>Share:<a href="#" class="facebookBtn"><i class="fa fa-facebook"></i></a><a href="" class="twitterBtn"><i class="fa fa-twitter"></i></a><a href="" class="pinterestBtn"><i class="fa fa-pinterest"></i></a><a href="" class="envelopeBtn"><i class="fa fa-envelope-o"></i></a><a href="#" class="linkedinBtn"><i class="fa fa-linkedin"></i></a></div>
      </div>
      <div class="leftContentBriefContent">
        <p>The traditions and importance of Halloween vary greatly among countries that observe it. In Scotland and Ireland, traditional Halloween customs include children dressing up in costume going "guising", holding parties, while other practices in Ireland include lighting bonfires, and having firework displays. In Brittany children would play practical jokes by setting candles inside skulls in graveyards to frighten visitors. Mass transatlantic immigration in the 19th century popularized Halloween in North America, and celebration in the United States and Canada has had a significant impact on how the event is observed in other nations. This larger North American influence, particularly in iconic and commercial elements, has extended to places such as Ecuador, Chile, Australia, New Zealand, (most) continental Europe, Finland, Japan, and other parts of East Asia.</p>
        <p>Halloween activities include trick-or-treating (or the related guising and souling), attending Halloween costume parties, carving pumpkins into jack-o'-lanterns, lighting bonfires, apple bobbing, divination games, playing pranks, visiting haunted attractions, telling scary stories, as well as watching horror films. For some people, the Christian religious observances of All Hallows' Eve, including attending church services and lighting candles on the graves of the dead, remain popular, although for others it is a secular celebration. Some Christians historically abstained from meat on All Hallows' Eve, a tradition reflected in the eating of certain vegetarian foods on this vigil day, including apples, potato pancakes, and soul cakes.</p>
        <p>Trick-or-treating is a customary celebration for children on Halloween. Children go in costume from house to house, asking for treats such as candy or sometimes money, with the question, "Trick or treat?" The word "trick" implies a "threat" to perform mischief on the homeowners or their property if no treat is given. The practice is said to have roots in the medieval practice of mumming, which is closely related to souling. John Pymm wrote that "many of the feast days associated with the presentation of mumming plays were celebrated by the Christian Church." These feast days included All Hallows' Eve, Christmas, Twelfth Night and Shrove Tuesday. Mumming practiced in Germany, Scandinavia and other parts of Europe, involved masked persons in fancy dress who "paraded the streets and entered houses to dance or play dice in silence".</p>
        <p>In England, from the medieval period, up until the 1930s, people practiced the Christian custom of souling on Halloween, which involved groups of soulers, both Protestant and Catholic, going from parish to parish, begging the rich for soul cakes, in exchange for praying for the souls of the givers and their friends. In the Philippines, the practice of souling is called Pangangaluwa and is practiced on All Hallow's Eve among children in rural areas. People drape themselves in white cloths to represent souls and then visit houses, where they sing in return for prayers and sweets.</p>
        <p>In Scotland and Ireland, guising - children disguised in costume going from door to door for food or coins - is a traditional Halloween custom. It is recorded in Scotland at Halloween in 1895 where masqueraders in disguise carrying lanterns made out of scooped out turnips, visit homes to be rewarded with cakes, fruit, and money. In Ireland, the most popular phrase for kids to shout (until the 2000s) was "Help the Halloween Party". The practice of guising at Halloween in North America is first recorded in 1911, where a newspaper in Kingston, Ontario, Canada reported children going "guising" around the neighborhood.</p>
      </div>
      <div><hr></div>
    </div>
    <div class="rightContent">
      <div class="subscribe_block_frame">
        <div>Sign Up</div>
        <div>Become an NAKTO insider today, Sign up to get the latest on sales, new releases, and more.</div>
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">
          <input type="hidden" name="form_type" value="contact">
          <input type="hidden" name="utf8" value="✓">
          <div>
              <div>
                  <div>
                      <input type="email" name="contact[email]" placeholder="Enter email address" required="required" value="">
                  </div>
              </div>
              <div>
                  <div>
                      <button type="submit">Subscribe</button>
                  </div>
              </div>
          </div>
        </form>
      </div>
      <div>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_camel_women_img.png?v=1642402428" width="100%"></a></li>
          <li>Camel Women 26"</li>
          <li>$739.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40227828531360" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" width="100%"></a></li>
          <li>Folding OX</li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" width="100%"></a></li>
          <li>Folding OX</li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_skylark_img.png?v=1642404188" width="100%"></a></li>
          <li>Skylark</li>
          <li>$699.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40210946654368" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" width="100%"></a></li>
          <li>Folding OX</li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_super_cruiser_img.png?v=1642404330" width="100%"></a></li>
          <li>Super Cruiser</li>
          <li>$1299.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690149331104" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
      </div>
      <div style="text-align: center; font-size: 20px; font-weight: bold; padding: 0; margin: 0;">Popular Blogs</div>
      <div class="popularBlogsBlock">
        <ul>
          <li><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main_img_1_ba025268-df6f-4a9b-bef1-3c25268d4d5a.jpg?v=1642410704" width="100%"></a></li>
          <li>How To Choose Electric Bike For Women 2022</li>
          <li>How To Choose Electric Bike For Women 2022 JANUARY 5,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_2.jpg?v=1642410704" width="100%"></a></li>
          <li>All You Need To Know About Class 2 Bike</li>
          <li>All You Need To Know About Ebike Classes December 23,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/why-is-nakto-santamonica-so-impressive"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_3.jpg?v=1642410704" width="100%"></a></li>
          <li>Why is Nakto Santamonica so impressive</li>
          <li>Why is Nakto Santamonica so impressive Best fat tire e-bike...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/halloween-around-the-world"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner4.jpg?v=1642410704" width="100%"></a></li>
          <li>Halloween Around The World</li>
          <li>Halloween Around The World October 30, 2021 Share: The traditions...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="element-margin center">
    <a href="{{ blog.url }}" class="article-template__link link animate-arrow{% if blog.comments_enabled? == false %} spaced-section{% endif %}">
      <span class="icon-wrap">{% render 'icon-arrow' %}</span>
      {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
    </a>
  </div>
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-secondary">
      <div id="comments" class="page-width page-width--narrow">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                     {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
            </div>
          {%- endif -%}

          <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
                <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
  </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
