<link rel="stylesheet" href="{{ 'section-main-page-about-us.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'main-page-about-us.js' | asset_url }}" defer="defer"></script>

<noscript>{{ 'section-main-page-about-us.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="aboutUsBanner">
  <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/aboutUs_page_banner-img.jpg?v=1642670360" width="100%" alt="">
  <div class="aboutUsBannerText1">About Us</div>
  <div class="aboutUsBannerText2">Nakto produces well-qualified electric bikes at affordable<br>price in order to make everyone join us -- Having Fun<br>Riding. By making e-bikes affordable for our customers,<br>we together to create a sustainable future.</div>
</div>

<div class="naktoStory">
  <p class="naktoStoryTitle">NAKTO Story</p>
  <p>Our founder, Aston, graduated from the University of Michigan, right next to the “Motor City”. He was very interested in electric bicycles since he was a child. One day he wanted to buy an e-bike for himself, for his commuting to school, but it was very hard to find. </p>
  <p>After a year of research, he decided to build his own e-bike brand. He learned everything about electric bikes, from the basics up to advanced repair skills. Then in 2016, he founded NAKTO e-bikes. He wanted to provide affordable, strong, and safe e-bikes for the people of the United States.Today more than 100,000 Americans choose NAKTO bikes for commuting. Aston is very proud of our results, but he knows that customer service is not easy.</p>
  <p>We do not just sell bikes to customers, we teach them how to maintain them. We show them which stores are under the NAKTO service, so they can get replacement parts and fix their bikes. </p>
  <p>NAKTO bikes should be ridden on the streets, not kept as scrap metal in a warehouse. We hope every customer to be happy and have fun with NAKTO e-bikes. Stay riding. Stay healthy.</p>
</div>
<hr>
<div class="naktoMVC">
  <ul>
    <li>Mission</li>
    <li>Nakto aims to produce technological innovation and development, creating high-quality products which allowing consumers to enjoy the efficiency and convenience brought by E Bike at reasonable price.</li>
  </ul>
  <ul>
    <li>Vision</li>
    <li>A world where transportation is not only efficient and enjoyable, but it's also accessible to all. We love what we do, and it shows in everything from the products to customer service. Our goal is simple: change your world by getting more people on bikes!</li>
  </ul>
  <ul>
    <li>Community</li>
    <li>We have our own social media user group. You can discuss biking tips, your product experience, or get other inspiring information. You can always get massive support from our active community. </li>
  </ul>
</div>
<hr>
<div class="naktoFactory">
  <div>
    <p class="naktoFactoryText">Our Factory</p>
    <p>We produce all our NAKTO electric bikes and accessories in our self-owned factory. By owning our factory we are able to keep our top-quality standards for the whole process. From sourcing high-quality raw materials to shipping to our U.S. warehouse, and getting it to your door. That means we can continuously improve our whole process.</p>
    <p>For years we have consistently brought electric bikes to the American market to meet their riding needs. From leisure to sport, trails to roads, we have a wide range of models that offer incredible performance and value.</p>
  </div>
  <div>
    <p><img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/aboutUs_page_factory-img1.jpg?v=1642671842" width="100%" alt=""></p>
  </div>
</div>
<div class="naktoWarehouse">
  <div class="forDesktop">
    <p><img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/aboutUs_page_warehouse-img1.jpg?v=1642671842" width="100%" alt=""></p>
  </div>
  <div>
    <p class="naktoWarehouseText">Our Warehouse</p>
    <p>We understand that waiting for a product for a long time can be tedious. That's why we set up our overseas warehouse to enhance your shopping experience.</p>
    <p>All NAKTO electric bikes are assembled by a team in Placentia, California. This helps fulfill orders quickly and makes it easy to handle any post-purchase customer service. </p>
    <p>All electric bikes on our website are in stock at our warehouse facility in the U.S. Your order is ready to ship out to you at any time.  Customers who live nearby are welcome to visit our warehouse and have a test ride.</p>
  </div>
  <div class="forMobile">
    <p><img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/aboutUs_page_warehouse-img1.jpg?v=1642671842" width="100%" alt=""></p>
  </div>
  
</div>
<div class="naktoCoreValue">
  <div>
    <p class="naktoCoreValueText">Core Value (N.A.K.T.O)</p>
    <p><span style="font-weight: bold;">National:</span> We embrace diversity with open arms. Our team and customer base come from all around the world. We love knowing that every individual has their own story.</p>
    <p><span style="font-weight: bold;">Affordable:</span> We do not want our customers to quit their passion because of a price tag. We are dedicated to creating quality products at a reasonable price.</p>
    <p><span style="font-weight: bold;">Kindness:</span> We believe in treating our clients as we wish to be treated. <br>Trustworthy: We are committed to the highest level of integrity and trust. You can always count on us for honest service.</p>
    <p><span style="font-weight: bold;">Open:</span> We are always open to communication. We connect our customers with the solutions they need to help them solve their problems.</p>
  </div>
  <div>
    <p><img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/aboutUs_page_coreValue-img1.jpg?v=1642671842" width="100%" alt=""></p>
  </div>
  
</div>




{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
