{{ 'main-page-stories.css' | asset_url | stylesheet_tag }}
{{ 'main-page-stories_One.css' | asset_url | stylesheet_tag }}
{{ 'main-page-stories_Two.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-page-stories.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-page-stories_One.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-page-stories_Two.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-page-stories-winOnload.js' | asset_url }}" defer="defer"></script>

<div class="storiesTitle">
    <p>Stories</p>
</div>
<div class="storiesSubTitle">
    <ul>
        <li><a href=""><hr></a></li>
        <li><a href="">Customer Sharing</a></li>
        <li><a href=""><hr></a></li>
    </ul>
</div>

<div class="storiesImgText">
    <div class="storiesImg-crop"><img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/storiesImgText1.jpg?v=1642833408" width="100%" alt=""></div>
    <div>
        <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
        <p>Saving our relationship and our sanity!</p>
        <p>Hiking and biking in our local parks has always been the best therapy and stress relief for my girlfriend and myself.  However, it was soon clear that shelter-in-place was going to limit access to my girlfriend's favorite natural splendor destinations. Though we realized the objective, we also needed to figure out a way to access some of our favorite parks without violating local health orders due to the spread of Covid-19.  Although I was still able to make the trip to our sacred places on my regular bike, my love wasn't physically up to the journey.How would we manage the long quarantine without the joy we both felt spending time together in nature and embracing the trails that have been our place of solace during the entire length of our relationship?</p>
        <p>I remembered reading about electric bikes and considered them a great solution to our dilemma, but how could we afford to make it happen after seeing the high cost of electric assist bikes? I made one more attempt at looking for a reasonably priced option and found an excellent review of the Nakto electric bikes! I was amazed at how reasonably priced Nakto bikes were while being attractive enough for my style-conscious girlfriend to ride! I ordered one of the Camel. Thanks Nakto for saving our relationship and our sanity!</p>
        <p>---Paul Klayman</p>
    </div>
</div>

<div class="storiesImgText">
    <div class="storiesImg-crop1"><img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/storiesImgText2.jpg?v=1642833408" width="100%" alt=""></div>
    <div>
        <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
        <p>Saving our relationship and our sanity!</p>
        <p>Hiking and biking in our local parks has always been the best therapy and stress relief for my girlfriend and myself.  However, it was soon clear that shelter-in-place was going to limit access to my girlfriend's favorite natural splendor destinations. Though we realized the objective, we also needed to figure out a way to access some of our favorite parks without violating local health orders due to the spread of Covid-19.  Although I was still able to make the trip to our sacred places on my regular bike, my love wasn't physically up to the journey.How would we manage the long quarantine without the joy we both felt spending time together in nature and embracing the trails that have been our place of solace during the entire length of our relationship?</p>
        <p>I remembered reading about electric bikes and considered them a great solution to our dilemma, but how could we afford to make it happen after seeing the high cost of electric assist bikes? I made one more attempt at looking for a reasonably priced option and found an excellent review of the Nakto electric bikes! I was amazed at how reasonably priced Nakto bikes were while being attractive enough for my style-conscious girlfriend to ride! I ordered one of the Camel. Thanks Nakto for saving our relationship and our sanity!</p>
        <p>---Paul Klayman</p>
    </div>
</div>

<div class="storiesImgText">
    <div class="storiesImg-crop2"><img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/storiesImgText3.jpg?v=1642833408" width="100%" alt=""></div>
    <div>
        <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
        <p>Saving our relationship and our sanity!</p>
        <p>Hiking and biking in our local parks has always been the best therapy and stress relief for my girlfriend and myself.  However, it was soon clear that shelter-in-place was going to limit access to my girlfriend's favorite natural splendor destinations. Though we realized the objective, we also needed to figure out a way to access some of our favorite parks without violating local health orders due to the spread of Covid-19.  Although I was still able to make the trip to our sacred places on my regular bike, my love wasn't physically up to the journey.How would we manage the long quarantine without the joy we both felt spending time together in nature and embracing the trails that have been our place of solace during the entire length of our relationship?</p>
        <p>I remembered reading about electric bikes and considered them a great solution to our dilemma, but how could we afford to make it happen after seeing the high cost of electric assist bikes? I made one more attempt at looking for a reasonably priced option and found an excellent review of the Nakto electric bikes! I was amazed at how reasonably priced Nakto bikes were while being attractive enough for my style-conscious girlfriend to ride! I ordered one of the Camel. Thanks Nakto for saving our relationship and our sanity!</p>
        <p>---Paul Klayman</p>
    </div>
</div>


<div class="userCommentStory">
    <div id="userStory">
        <div id="userStory_wrapper">
            <div class="uni_imgSlider">
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img3.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Micah Putman</p>
                            <p>I need to get one for myself! I bought this bike for my wife. Even with the trailer and the 2 kids I can only keep up on flat areas. Hit a hill bye bye, I hope you wait for me  hunny. She loves the bike and wants to bikes all the time. I have taken it for a few spins. Man I love it too. Rides so nice and with the power assist on feels like an exercise bike on the lowest setting. I race a kid on gas dirt bike and won! Thanks for making this fun bike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img1.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Chris Fontana</p>
                            <p>Love 'emThis is our second batch of Nakto bikes. We started with the Camels. We love the stripped down version so much better. We are over 60 and we drive them all around on rail trails and around the village where we live. They are so eye-catching and we get so many comments. We've had them now for about six months. I have nothing to complain about. They are fast and zippy. Super easy to use. If you're looking for a good beginners Ebike you can't go wrong with this. Simple to use, not a lot of gears to go wrong. They have three speed and the fast speed is pretty fast, my partner won't go fast but she's old!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img3.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Micah Putman</p>
                            <p>I need to get one for myself! I bought this bike for my wife. Even with the trailer and the 2 kids I can only keep up on flat areas. Hit a hill bye bye, I hope you wait for me  hunny. She loves the bike and wants to bikes all the time. I have taken it for a few spins. Man I love it too. Rides so nice and with the power assist on feels like an exercise bike on the lowest setting. I race a kid on gas dirt bike and won! Thanks for making this fun bike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img1.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Chris Fontana</p>
                            <p>Love 'emThis is our second batch of Nakto bikes. We started with the Camels. We love the stripped down version so much better. We are over 60 and we drive them all around on rail trails and around the village where we live. They are so eye-catching and we get so many comments. We've had them now for about six months. I have nothing to complain about. They are fast and zippy. Super easy to use. If you're looking for a good beginners Ebike you can't go wrong with this. Simple to use, not a lot of gears to go wrong. They have three speed and the fast speed is pretty fast, my partner won't go fast but she's old!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_1img2.jpg?v=1642822390" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Maria Joseph Wagner</p>
                            <p> I LOVE my Nakto ebike! I let two of my neighbors try mine & they both bought their own! We take our Boston Terrier Daisy with us on bike trails. We see lots of interesting flowers, scenery, birds & animals. I ordered a second ebike so I can keep one at the cabin & one at home. I love that I can go on longer bike rides now. I do not have to walk a bike up hills anymore! My Nakto ebike has made such a big difference in my life. I am getting more exercise by riding my ebike more than my old 6 speed!</p>
                        </li>
                    </ul>
                </div>
            </div>	
        </div>
        <div id="userStory_ctlBtn1">
          <div class="leftBtns"></div>
        </div>
    </div>
</div>

<div class="userCommentStory_One">
    <div id="userStory_One">
        <div id="userStory_One_wrapper">
            <div class="uni_imgSlider">
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_2img3.jpg?v=1642831599" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>John Crowe</p>
                            <p>I purchased my NAKTO Ranger 2 months agao! I love it. I am 68 year old and riding with my Grgranddaughter! It is amazing riding! I love my bike!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_2img4.png?v=1642831599" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Run & Chase</p>
                            <p>awesome! It's my first bike so I don't really know if it's good or bad. I know I'm loving getting out though. Just took this baby out for about 20 miles! So much fun!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_2img1.jpg?v=1642831599" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Marge Schmidt</p>
                            <p>My husband & I each bought one of these bikes from you last Spring and we LOVE them! NO PROBLEMS!! We put a basket on the back of mine so our puppy can ride with us. He loves it!! We put a LOT of miles on them last summer and have been out on them alredy this Spring!(in Nebraska)</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_2img2.jpg?v=1642831599" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Brandon Buffet Jackson</p>
                            <p>So glad we have #ebikes almost got hit by a car today in a crosswalk, but with the speed on this #nakto she missed me by a hair.. a guy at the light was asked where did we get the bikes? told him hit up www.nakto.com</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_2img3.jpg?v=1642831599" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>John Crowe</p>
                            <p>I purchased my NAKTO Ranger 2 months agao! I love it. I am 68 year old and riding with my Grgranddaughter! It is amazing riding! I love my bike!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_2img4.png?v=1642831599" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Run & Chase</p>
                            <p>awesome! It's my first bike so I don't really know if it's good or bad. I know I'm loving getting out though. Just took this baby out for about 20 miles! So much fun!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_2img1.jpg?v=1642831599" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Marge Schmidt</p>
                            <p>My husband & I each bought one of these bikes from you last Spring and we LOVE them! NO PROBLEMS!! We put a basket on the back of mine so our puppy can ride with us. He loves it!! We put a LOT of miles on them last summer and have been out on them alredy this Spring!(in Nebraska)</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_2img2.jpg?v=1642831599" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Brandon Buffet Jackson</p>
                            <p>So glad we have #ebikes almost got hit by a car today in a crosswalk, but with the speed on this #nakto she missed me by a hair.. a guy at the light was asked where did we get the bikes? told him hit up www.nakto.com</p>
                        </li>
                    </ul>
                </div>
            </div>	
        </div>
        <div id="userStory_One_ctlBtn1">
          <div class="leftBtns"></div>
        </div>
    </div>
</div>

<div class="userCommentStory_Two">
    <div id="userStory_Two">
        <div id="userStory_Two_wrapper">
            <div class="uni_imgSlider">
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_3img3.jpg?v=1642832117" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Timothy Frederick Church</p>
                            <p>My wife and me are really having a great time riding our electric bikes on the bikepaths. She has a Nakto classic. She really enjoy the riding time with her husband.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_3img4.jpg?v=1642832117" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Jennifer Sanchez</p>
                            <p>Washed and lubed, all ready for another work week. I've been commuting daily since September. Rain, shine or freezing!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_3img1.jpg?v=1642832117" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Joni Huls</p>
                            <p>I love my Elegance! I'm in my 60's, bad hips and back and barely 5 feet tall....but I can ride my Elegance all over town! I really can't say enough good things about this bike, so happy <span style="color: crimson;"><i class="fa fa-heart"></i></span> Thanks Nakto for making a 22" ebike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_3img2.jpg?v=1642832117" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Evan Charest</p>
                            <p>Really love my mini cruiser day 1 commute to work. Got there in roughly the same amount of time as driving. Made it home even faster. Really turns heads. Or its my partners bright pink helmet I'm borrowing until mine comes in. Such a fun bike. Such a nice ride.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_3img3.jpg?v=1642832117" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Timothy Frederick Church</p>
                            <p>My wife and me are really having a great time riding our electric bikes on the bikepaths. She has a Nakto classic. She really enjoy the riding time with her husband.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_3img4.jpg?v=1642832117" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Jennifer Sanchez</p>
                            <p>Washed and lubed, all ready for another work week. I've been commuting daily since September. Rain, shine or freezing!</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_3img1.jpg?v=1642832117" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Joni Huls</p>
                            <p>I love my Elegance! I'm in my 60's, bad hips and back and barely 5 feet tall....but I can ride my Elegance all over town! I really can't say enough good things about this bike, so happy <span style="color: crimson;"><i class="fa fa-heart"></i></span> Thanks Nakto for making a 22" ebike.</p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li>
                            <div class="side-crop">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/row_3img2.jpg?v=1642832117" width="100%" alt="">
                            </div>
                        </li>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>Evan Charest</p>
                            <p>Really love my mini cruiser day 1 commute to work. Got there in roughly the same amount of time as driving. Made it home even faster. Really turns heads. Or its my partners bright pink helmet I'm borrowing until mine comes in. Such a fun bike. Such a nice ride.</p>
                        </li>
                    </ul>
                </div>
            </div>	
        </div>
        <div id="userStory_Two_ctlBtn1">
          <div class="leftBtns"></div>
        </div>
    </div>
</div>