{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post-tempA20220208am1024.css' | asset_url | stylesheet_tag }}
<script src="{{ 'social_share_btn.js' | asset_url }}" defer="defer"></script>

<div class="pageMainLayout">
  <div class="mainBanner">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/20220208-main-pic2.jpg?v=1644303536" width="80%" alt="">
  </div>
  <div class="mainContent">
    <div class="leftContent">
      <div class="leftContentTitle">Enter to Win Nakto Ebike for Your Loves</div>
      <div class="leftContentSubtitle">
        <div>FEBRUARY 8, 2022</div><div>Share:<a href="#" class="facebookBtn"><i class="fa fa-facebook"></i></a><a href="" class="twitterBtn"><i class="fa fa-twitter"></i></a><a href="" class="pinterestBtn"><i class="fa fa-pinterest"></i></a><a href="" class="envelopeBtn"><i class="fa fa-envelope-o"></i></a><a href="#" class="linkedinBtn"><i class="fa fa-linkedin"></i></a></div>
      </div>
      <div class="leftContentBriefContent">
        <p>Looking for something different to do this Valentine's Day? Why not enter our giveaway for a chance to win a brand new electric bike! This is the perfect opportunity to treat yourself or your loved one to something special. Plus, who doesn't love getting free stuff?</p>
        <p>What could be better than getting something for free? Especially when that something is a little piece of love. That's why I'm excited to giveaway one Nakto Camel Woman to our lucky user. </p>
      </div>
      <div class="contentNavigator" style="display: none;">
        <ul>
          <li><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20210916-icon1.png?v=1642494870" width="100%" alt=""></li>
        </ul>
        <ul>
          <li></li>
          <li class="girlComment"><p>Grab a mountain electric bike, pick a route, feel the breeze pass by my face, nothing bothers me as I embark on this adventure</p></li>
          <li class="girlBlock">
            <ul class="girlImg">
              <li><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220113-comment-img1.jpg?v=1642665433" width="100%" height="auto" alt=""></li>
            </ul>
            <ul>
              <li>
                <p style="padding: 0; margin: 0;">Simon</p>
                <p style="padding: 0; margin: 0; line-height: 6px; color: red;"><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></p>
              </li>
            </ul>
          </li>
          <li></li>
        </ul>
      </div>
      <p style="padding:0 15px; display: none;">Flat ron Mesa trail is one of the stunning and beginner-friendly routes ltook at Moab. lts scenic landscapes are the reasons why many hikers and riders claim it as their favorite riding spot. Most of the incredible viewpoints of Moab are along this route. such as the Hatch Watch Canvon and other picturesque rock formations. Furthermore.this Moab trail route is rated moderate since it's a fun loop ride with a few steep and challenging areas. You can choose to take either the beginner or advanced course.</p>
      <div class="subNavigator1">What Prize:</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p><a href="/products/camel">Nakto Camel Women 26" x1</a></p>
            <div style="margin: 0 auto;"><a href="/products/camel"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_camel_women_img.png?v=1642402428" alt=""></a></div>
            <p><a href="/products/camel-men-26">Nakto Camel Men 26" x1</a></p>
            <div style="margin: 0 auto;"><a href="/products/camel-men-26"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220113-camel-men-img.png?v=1642666248" alt=""></a></div>
          </div>
        </div>
      </div>

      <div class="subNavigator1">And When:</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p>The giveaway runs from 14th Feb, 2022 at 12:00AM GTM+8 to 23th Feb, 2022 at 11:59PM CTM+8. Entries submitted before or after the Entry Period will not be eligible.</p>
          </div>
        </div>
      </div>
      <div class="subNavigator1">How to Enter:</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p><a href="https://gleam.io/m0Dvw/nakto-e-bike-giveaway">Nakto E bike Giveaway</a></p>
            <p>Entering accordingly to get entries as many as possible, the more entries you get, and the more chance you will win.  Winners' announcement on 24th Feb, 2022. </p>
            <p><span style="font-weight: bold; color: darkorange; font-size: 1.2em;">Note:</span><br>Prizes are limited to one per person.<br>Prizes cannot be refunded or replaced for non-quality issues.<br>Nakto reserves the right of final explanation. By offering your email you agree to the Privacy Policy and Terms of Use.</p>
          </div>
        </div>
      </div>
      <div class="subNavigator1">Secret Code</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p>Hey guys, secret code for Nakto Valentine's Day Giveaway is right here, we only have 5 secret code in total.  Come on, follow and join us to win small gift for celebration!</p>
            <p><strong>Question 1:</strong><br>What is brand name of our Ebike? <br>Tips: Come on, you could not find any question easier than this. The code will be answer, good luck!<br>Code: ?????</p>
            <p><strong>Question 2:</strong><br>How many bikes model do we have in total? <br>Tips: Well, you can simply find this answer at our official website, still do not know, <a href="/collections/all-bikes">Click here</a> and count out.<br>Code: ??</p>
            <p><strong>Question 3:</strong><br>When was this brand found? <br>Tips: I predict you do not know that, so why not read our <a href="/pages/about-us">Brand Story</a> and figure out.<br>Code: ????</p>
            <p><strong>Question 4:</strong><br>How many video do we have on Nakto youtube channel? <br>ITips: Lol, another counting game, visit our <a href="https://www.youtube.com/c/NAKTOEBIKE/featured?sub_confirmation=1"></a>official youtube channel and count out.<br>Code: ??</p>
            <p><strong>Question 5:</strong><br>The code will be the answer of this sudoku. Finally, this could be a tough one for you, take you time or you can ask some help from your friends !  <br>Tips: The code will be 258??1?69, I gave you 2 numbers already, good luck!.<br>Code: ?????????</p>
            <div style="margin: 0 auto;"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/20220208-code2.jpg?v=1644303536" alt=""></div>
          </div>
        </div>
      </div>

      <div><hr></div>
    </div>
    <div class="rightContent">
      <div class="subscribe_block_frame">
        <div>Sign Up</div>
        <div>Become an NAKTO insider today, Sign up to get the latest on sales, new releases, and more.</div>
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">
          <input type="hidden" name="form_type" value="contact">
          <input type="hidden" name="utf8" value="✓">
          <div>
              <div>
                  <div>
                      <input type="email" name="contact[email]" placeholder="Enter email address" required="required" value="">
                  </div>
              </div>
              <div>
                  <div>
                      <button type="submit">Subscribe</button>
                  </div>
              </div>
          </div>
        </form>
      </div>
      <div>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_camel_women_img.png?v=1642402428" width="100%"></a></li>
          <li>Camel Women 26"</li>
          <li>$739.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40227828531360" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/elegance.png?v=1641290141" width="100%"></a></li>
          <li>Elegance</li>
          <li>$729.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40210665570464" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/classic.png?v=1641289889" width="100%"></a></li>
          <li>Classic</li>
          <li>$859.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40073982279840" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220113-camel-men-img.png?v=1642666248" width="100%"></a></li>
          <li>Camel Men 26"</li>
          <li>$739.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40245188001952" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>

      </div>
      <div style="text-align: center; font-size: 20px; font-weight: bold; padding: 0; margin: 0;">Popular Blogs</div>
      <div class="popularBlogsBlock">
        <ul>
          <li><a href="/blogs/cycling-life/simon-ebike-adventure"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220113-banner-img.jpg?v=1642665255" width="100%"></a></li>
          <li class="textLink"><a href="/blogs/cycling-life/simon-ebike-adventure">Simon's Cycling Adventure</a></li>
          <li>Simon's Cycling Adventure January 13, 2022 Share: Trekking and touring...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/top-electric-cycling-routes-in-the-us"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220118-banner-img.jpg?v=1642666767" width="100%"></a></li>
          <li class="textLink"><a href="/blogs/cycling-life/top-electric-cycling-routes-in-the-us">Top Electric Cycling Routes in the U.S (1)</a></li>
          <li>Top Electric Cycling Routes in the U.S (1) January 18,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main_img_1_ba025268-df6f-4a9b-bef1-3c25268d4d5a.jpg?v=1642410704" width="100%"></a></li>
          <li class="textLink"><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022">How To Choose Electric Bike For Women 2022</a></li>
          <li>How To Choose Electric Bike For Women 2022 JANUARY 5,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_2.jpg?v=1642410704" width="100%"></a></li>
          <li class="textLink"><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike">All You Need To Know About Class 2 Bike</a></li>
          <li>All You Need To Know About Ebike Classes December 23,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>

      </div>
    </div>
  </div>
</div>
<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="element-margin center">
    <a href="{{ blog.url }}" class="article-template__link link animate-arrow{% if blog.comments_enabled? == false %} spaced-section{% endif %}">
      <span class="icon-wrap">{% render 'icon-arrow' %}</span>
      {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
    </a>
  </div>
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-secondary">
      <div id="comments" class="page-width page-width--narrow">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                     {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
            </div>
          {%- endif -%}

          <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
                <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
  </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
