{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post-20210923.css' | asset_url | stylesheet_tag }}
<script src="{{ 'social_share_btn.js' | asset_url }}" defer="defer"></script>

<div class="pageMainLayout">
  <div class="mainBanner">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/e-bike-best-transportation-banner-img.jpg?v=1642485747" width="80%" alt="">
  </div>
  <div class="mainContent">
    <div class="leftContent">
      <div class="leftContentTitle">E-Bike | Best Transportation Option During Pandemic Times</div>
      <div class="leftContentSubtitle">
        <div>SEPTEMBER 23, 2021</div><div>Share:<a href="#" class="facebookBtn"><i class="fa fa-facebook"></i></a><a href="" class="twitterBtn"><i class="fa fa-twitter"></i></a><a href="" class="pinterestBtn"><i class="fa fa-pinterest"></i></a><a href="" class="envelopeBtn"><i class="fa fa-envelope-o"></i></a><a href="#" class="linkedinBtn"><i class="fa fa-linkedin"></i></a></div>
      </div>
      <div class="leftContentBriefContent">
        <p>The grave coronavirus pandemic has caused the loss of human life at an unprecedented scale. It is a "once in a century" crisis and situation that requires all of us to be extra attentive and vigilant regarding our regular and daily habits. The coronavirus (COVID-19) pandemic in the USA has affected approx. <a href="https://covid19.who.int/region/amro/country/us">42 million people</a> directly and has caused infection in them, according to the latest stats (September 2021).</p>
      </div>
      <div class="contentNavigator">
        <ul>
          <li><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/66_icon1.png?v=1642151999" width="40" alt=""></li>
          <li><p>What you will<br>learnfrom this<br>article</p></li>
        </ul>
        <ul>
          <li>1. <a href="#navTag1">Benefits of Electric Bicycles During a Pandemic</a></li>
          <li>2. <a href="#navTag2">Tips to be Safe and Healthy during the Coronavirus Pandemic Times</a></li>
        </ul>
      </div>
      <div class="subNavigator1" id="navTag1">Benefits of Electric Bicycles During a Pandemic</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <p>Exercises including cycling, swimming, and running have always been a good way to have a good fit fitness and to exercise the heart, muscles, and other organs and parts of the body. Apart from physical health, cycling can also improve your emotional health and well-being. Electric bicycles (e-bikes) are one of the best innovations introduced to mankind. The e-bikes are especially beneficial during an epidemic and pandemic situation such as the COVID 19 pandemic that the Americans face today.</p>
            <p><span>Safer transportation method: </span>electric bicycles can be a safer alternative to public transportation during a crisis such as the COVID-19 pandemic. You do not come close to other passengers or people when you ride your electric bicycle. You also are not required to touch the various surfaces that you may have to hold, touch, or pass through when you choose a public transportation method such as a bus, cab, or train. For shorter as well as relatively longer distances, an Ebike can be your vehicle that can help you stay away from infections and infectious surfaces, and people. E-bikes can be an effective way to maintain a 6 feet distance from other people.</p>
            <p><span>Good load-carrying capacity: </span> electric bikes can carry much more load when compared to conventional bikes. Therefore, you do not need to carry your luggage, bags, laptops, and other stuff on your shoulders, and can use your e-bikes for carrying the load. The e-bikes may provide a hassle-free and more convenient mobility experience.</p>
            <p><span>Affordability: </span>the e-bikes require a one-time minor investment and some of the companies selling them also offer the bikes on the monthly installment (the EMI payment) options. You can easily buy an electric bicycle without burning a hole in your pocket, unlike a car.</p>
            <p><span>Good range:</span>the best of e-bikes available today can go beyond 100 KM in a single battery charge! Therefore, your e-bike can be your safer, affordable, and convenient transportation mode and partner even for relatively long distances. For usual and day-to-day activities, you may need nothing more than an electric bicycle in most instances.</p>
            <p>Apart from the benefits listed above, e-bikes can also be a healthier transportation method and option for you. You can easily switch between the motor and pedaling while riding an electric bicycle. Therefore, you can exercise your lungs and muscles for any time duration you require. The battery and the motor ensure that you do not overexert yourself and have an enjoyable time while riding your e-bike.</p>
          </div>
        </div>
      </div>

      <div class="subNavigator2" id="navTag2">Tips to be Safe and Healthy</div>
      <div class="subNavigator2_a">
        <div>
          <div>
            <p>The vaccines for preventing coronavirus infection are now available. You must ensure that you are vaccinated and have been injected with all the doses of the vaccine. However, you should still exercise the other restraints and undertake precautions to ensure that the coronavirus infection does not affect you.</p>
            <p><span>Social distancing:</span>you must have been aware of the six-feet rule by now. Ensure that you maintain a 6 feet distance from any person, which is an effective way to prevent the transmission of the COVID-19 virus. Avoid crowded areas and do not gather in the form of groups. Avoid visiting people who may have to meet somebody having a coronavirus infection. When you do not know about the contacts of the person in the last 14 days, do not visit him/her.</p>
            <p><span>Wear your mask: </span>wearing a mask will ensure that you do not catch the droplet transmission of the virus. Droplet infection may occur through talking, sneezing, or coughing. While maintaining a 6-feet distance is important, it is equally important to wear your mask whenever you are accompanied by somebody else close to you.</p>
            <p><span>Wash your hands regularly and thoroughly: </span>the COVID-19 virus may stay on surfaces for long and you may catch the virus and the infection unknowingly by touching one of such surfaces. Therefore, ensure that you wash your hands regularly and thoroughly for up to 20 seconds at least.</p>
          </div>
        </div>
      </div>

      <div class="subNavigator3" id="navTag3">Conclusion</div>
      <div class="subNavigator3_a">
        <div>
          <div>
            <p>Electric bikes can be an affordable option that can also keep you healthy and safe. <a href="/collections/fat-tire-ebike">Fat tire</a>, <a href="/collections/folding-electric-bike">Folding</a>, <a href="/collections/city-ebike">city</a>, <a href="/products/ranger">mountain</a>, You can choose the right bike that suits your needs. <a href="/collections/all-bikes">Nakto provide e-bikes</a> for riders at all levels. High quality and affordable price. Enjoy riding now.</p>
          </div>
        </div>
      </div>


      <div></div>
    </div>
    <div class="rightContent">
      <div class="subscribe_block_frame">
        <div>Sign Up</div>
        <div>Become an NAKTO insider today, Sign up to get the latest on sales, new releases, and more.</div>
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">
          <input type="hidden" name="form_type" value="contact">
          <input type="hidden" name="utf8" value="✓">
          <div>
              <div>
                  <div>
                      <input type="email" name="contact[email]" placeholder="Enter email address" required="required" value="">
                  </div>
              </div>
              <div>
                  <div>
                      <button type="submit">Subscribe</button>
                  </div>
              </div>
          </div>
        </form>
      </div>
      <div>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_camel_women_img.png?v=1642402428" width="100%"></a></li>
          <li>Camel Women 26"</li>
          <li>$739.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40227828531360" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" width="100%"></a></li>
          <li>Folding OX</li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" width="100%"></a></li>
          <li>Folding OX</li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_skylark_img.png?v=1642404188" width="100%"></a></li>
          <li>Skylark</li>
          <li>$699.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40210946654368" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" width="100%"></a></li>
          <li>Folding OX</li>
          <li>$1099.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690190061728" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_super_cruiser_img.png?v=1642404330" width="100%"></a></li>
          <li>Super Cruiser</li>
          <li>$1299.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="39690149331104" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
      </div>
      <div style="text-align: center; font-size: 20px; font-weight: bold; padding: 0; margin: 0;">Popular Blogs</div>
      <div class="popularBlogsBlock">
        <ul>
          <li><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main_img_1_ba025268-df6f-4a9b-bef1-3c25268d4d5a.jpg?v=1642410704" width="100%"></a></li>
          <li>How To Choose Electric Bike For Women 2022</li>
          <li>How To Choose Electric Bike For Women 2022 JANUARY 5,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_2.jpg?v=1642410704" width="100%"></a></li>
          <li>All You Need To Know About Class 2 Bike</li>
          <li>All You Need To Know About Ebike Classes December 23,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/why-is-nakto-santamonica-so-impressive"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_3.jpg?v=1642410704" width="100%"></a></li>
          <li>Why is Nakto Santamonica so impressive</li>
          <li>Why is Nakto Santamonica so impressive Best fat tire e-bike...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/halloween-around-the-world"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner4.jpg?v=1642410704" width="100%"></a></li>
          <li>Halloween Around The World</li>
          <li>Halloween Around The World October 30, 2021 Share: The traditions...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="element-margin center">
    <a href="{{ blog.url }}" class="article-template__link link animate-arrow{% if blog.comments_enabled? == false %} spaced-section{% endif %}">
      <span class="icon-wrap">{% render 'icon-arrow' %}</span>
      {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
    </a>
  </div>
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-secondary">
      <div id="comments" class="page-width page-width--narrow">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                     {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
            </div>
          {%- endif -%}

          <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
                <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
  </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
