

<div id="sectionMainIndex-{{ section.id }}" class="sectionMainIndex">
    <div>
        <!-- <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main1_4628ffd7-bb2a-45f5-81c8-67c0943fd354.jpg?v=1641362325" class="bannerMainImage"> -->
        <img src="{{ section.settings.image | img_url: '1500x' }}" class="bannerMainImage">
    </div>
    <div class="advertingBlock" >
        <ul>
          <!-- style="top:{{ section.settings.top_position }}; left:{{ section.settings.left_position }};" -->
            <!-- <li class="textProductName"></li> -->
            {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <li id="block.id" class="textProductName-{{ block.id }}" style="color: {{ block.settings.text_color }}; font-size: {{ block.settings.text_size }}px; font-weight: {{ block.settings.text_weight }};">{{ block.settings.text | escape }}</li>
                {%- style -%}
                #{{ block.id }}{
                  margin: 0;
                  padding: 0;
                }
                {%- endstyle -%}
            {%- endcase -%}
            {%- endfor -%}
        </ul>
    </div>
</div>



{% schema %}
{
  "name": "homepage-slider",
  "max_blocks": 30,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "slider image"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "slider image2"
    },
    {
      "type": "text",
      "id": "homepage-slider_text",
      "label": "homepage-slider text"
    },
    {
      "type": "range",
      "id": "text_left",
      "label": "text left",
      "default": 10,
      "min": 10,
      "max": 500,
      "step": 10,
      "unit": "px"
    }
  ],
  "blocks": [
  {
    "type": "heading",
    "name": "heading_text",
    "limit": 3,
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "text"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "text color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "text_size",
        "label": "text size",
        "default": 10,
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "text_weight",
        "label": "text weight",
        "default": 300,
        "min": 300,
        "max": 900,
        "step": 100
      }
    ]
  }
  ],
  "presets":[
    {
      "name": "homepage-slider",
      "blocks":[
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}

{%- style -%}
.sectionMainIndex{
  width: 100%;
  border: 1px solid #222;
  position: relative;
}

#sectionMainIndex-{{ section.id }} > .advertingBlock{
  postion: absolute;
  top: 30px;
  left: {{ section.settings.text_left }};
  border: 1px solid #a4de2f;
}
{%- endstyle -%}