{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post-tempA20220208pm0512.css' | asset_url | stylesheet_tag }}
<script src="{{ 'social_share_btn.js' | asset_url }}" defer="defer"></script>

<div class="pageMainLayout">
  <div class="mainBanner">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/20220208-2main.jpg?v=1644310895" width="80%" alt="">
  </div>
  <div class="mainContent">
    <div class="leftContent">
      <div class="leftContentTitle">Thinking about a Valentine's Gift</div>
      <div class="leftContentSubtitle">
        <div>FEBRUARY 8, 2022</div><div>Share:<a href="#" class="facebookBtn"><i class="fa fa-facebook"></i></a><a href="" class="twitterBtn"><i class="fa fa-twitter"></i></a><a href="" class="pinterestBtn"><i class="fa fa-pinterest"></i></a><a href="" class="envelopeBtn"><i class="fa fa-envelope-o"></i></a><a href="#" class="linkedinBtn"><i class="fa fa-linkedin"></i></a></div>
      </div>
      <div class="leftContentBriefContent">
        <p>Are you still worrying about Valentine's Day gifts? Why not get him/her an e-bike? Compare to flowers or chocolates, bicycles are more practical and last longer.</p>
      </div>
      <div class="contentNavigator" style="display: none;">
        <ul>
          <li><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20210916-icon1.png?v=1642494870" width="100%" alt=""></li>
        </ul>
        <ul>
          <li></li>
          <li class="girlComment"><p>Grab a mountain electric bike, pick a route, feel the breeze pass by my face, nothing bothers me as I embark on this adventure</p></li>
          <li class="girlBlock">
            <ul class="girlImg">
              <li><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220113-comment-img1.jpg?v=1642665433" width="100%" height="auto" alt=""></li>
            </ul>
            <ul>
              <li>
                <p style="padding: 0; margin: 0;">Simon</p>
                <p style="padding: 0; margin: 0; line-height: 6px; color: red;"><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></p>
              </li>
            </ul>
          </li>
          <li></li>
        </ul>
      </div>
      <p style="padding:0 15px; display: none;">Flat ron Mesa trail is one of the stunning and beginner-friendly routes ltook at Moab. lts scenic landscapes are the reasons why many hikers and riders claim it as their favorite riding spot. Most of the incredible viewpoints of Moab are along this route. such as the Hatch Watch Canvon and other picturesque rock formations. Furthermore.this Moab trail route is rated moderate since it's a fun loop ride with a few steep and challenging areas. You can choose to take either the beginner or advanced course.</p>
      <div style="margin: 0 auto; width: 100%;"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/20220208-2pic2.jpg?v=1644310895" alt="" style="width: 100%; height: auto;"></div>
      <div class="mainText">
        <p>If you're looking to buy an e-bike for that special person in your life, now is the time!</p>
        <p><span style="font-weight: bold; font-size: 1.5em;">Tip:</span> Get orders in on or before <span class="feb14Style">February 14th</span>.</p>
        <ul>
          <li><p>You will get <span style="text-decoration: underline; font-weight: bold; font-size: 2em; color: #a4de2f;">100$ Off</span> when you buy two ebikes Plus get Free Shipping to 48 States.</p></li>
          <li><p>Plus two free foldable bike locks ( $99 each)</p></li>
          <li><p>Plus free shipping to 48 states.</p></li>
        </ul>
        <p><span style="font-weight: 900; color: darkorange;">Discount code:BUYTWO</span></p>
        <p class="sloganText">Of course, you can also get <span style="text-decoration: underline; font-weight: bold; font-size: 1.2em; color: #000;">50$ Off</span> if you buy one e-bike</p>
        <ul>
          <li><p>Plus free shipping to 48 states.</p></li>
        </ul>
        <p><span style="font-weight: 900; color: darkorange;">Discount code: BUYONE</span></p>
        
        <p class="sloganText">Come and choose your beloved Valentine's Day gift below!</p>
      </div>

      <div class="buyButton" ><a href="/collections/all-bikes">Make Your Purchase</a></div>

      <div class="subNavigator1" style="display: none;">What Prize:</div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <div>
              <a href="/products/classic"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/classic_20220208_pic_1024x732_42dd14ce-7d7e-49ec-9c52-546cdb1c74d7.png?v=1644312790" alt=""></a>
              <p><a href="/products/classic">Classic ebike</a></p>
              <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="40073982279840" />
                <input type="submit" value="BUY NOW" class="rightContentbtn" />
              </form>
            </div>
            
            <div>
              
              <a href="/products/camel"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_camel_women_img.png?v=1642402428" alt=""></a>
              <p><a href="/products/camel">Camel Women 26"</a></p>
              <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="40227828531360" />
                <input type="submit" value="BUY NOW" class="rightContentbtn" />
              </form>
            </div>
            
            <div>
              
              <a href="/products/city-stroller"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/city_stroller_20220208_pic.png?v=1644312423" alt=""></a>
              <p><a href="/products/city-stroller">City Stroller</a></p>
              <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="39690193469600" />
                <input type="submit" value="BUY NOW" class="rightContentbtn" />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="subNavigator1_a">
        <div>
          <div>
            <div>
              <a href="/products/camel-men-26"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220113-camel-men-img.png?v=1642666248" alt=""></a>
              <p><a href="/products/camel-men-26">Camel Men 26"</a></p>
              <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="40245188001952" />
                <input type="submit" value="BUY NOW" class="rightContentbtn" />
              </form>
            </div>
            <div>
              <a href="/products/foldingoxw"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_folding_ox_img.png?v=1642404082" alt=""></a>
              <p><a href="/products/foldingoxw">Foding OX</a></p>
              <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="39690190061728" />
                <input type="submit" value="BUY NOW" class="rightContentbtn" />
              </form>
            </div>
            
            <div>
              <a href="/products/cruiser"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_super_cruiser_img.png?v=1642404330" alt=""></a>
              <p><a href="/products/cruiser">Cruiser</a></p>
              <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="40224697647264" />
                <input type="submit" value="BUY NOW" class="rightContentbtn" />
              </form>
            </div>
          </div>
        </div>
      </div>


      <div><hr></div>
    </div>
    <div class="rightContent">
      <div class="subscribe_block_frame">
        <div>Sign Up</div>
        <div>Become an NAKTO insider today, Sign up to get the latest on sales, new releases, and more.</div>
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">
          <input type="hidden" name="form_type" value="contact">
          <input type="hidden" name="utf8" value="✓">
          <div>
              <div>
                  <div>
                      <input type="email" name="contact[email]" placeholder="Enter email address" required="required" value="">
                  </div>
              </div>
              <div>
                  <div>
                      <button type="submit">Subscribe</button>
                  </div>
              </div>
          </div>
        </form>
      </div>
      <div>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/mainPage_camel_women_img.png?v=1642402428" width="100%"></a></li>
          <li>Camel Women 26"</li>
          <li>$739.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40227828531360" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/elegance.png?v=1641290141" width="100%"></a></li>
          <li>Elegance</li>
          <li>$729.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40210665570464" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/classic.png?v=1641289889" width="100%"></a></li>
          <li>Classic</li>
          <li>$859.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40073982279840" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>
        <ul>
          <li><a><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220113-camel-men-img.png?v=1642666248" width="100%"></a></li>
          <li>Camel Men 26"</li>
          <li>$739.00</li>
          <li>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="40245188001952" />
              <input type="submit" value="BUY NOW" class="rightContentbtn" />
            </form>
          </li>
        </ul>

      </div>
      <div style="text-align: center; font-size: 20px; font-weight: bold; padding: 0; margin: 0;">Popular Blogs</div>
      <div class="popularBlogsBlock">
        <ul>
          <li><a href="/blogs/cycling-life/simon-ebike-adventure"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220113-banner-img.jpg?v=1642665255" width="100%"></a></li>
          <li class="textLink"><a href="/blogs/cycling-life/simon-ebike-adventure">Simon's Cycling Adventure</a></li>
          <li>Simon's Cycling Adventure January 13, 2022 Share: Trekking and touring...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/top-electric-cycling-routes-in-the-us"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/article-20220118-banner-img.jpg?v=1642666767" width="100%"></a></li>
          <li class="textLink"><a href="/blogs/cycling-life/top-electric-cycling-routes-in-the-us">Top Electric Cycling Routes in the U.S (1)</a></li>
          <li>Top Electric Cycling Routes in the U.S (1) January 18,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main_img_1_ba025268-df6f-4a9b-bef1-3c25268d4d5a.jpg?v=1642410704" width="100%"></a></li>
          <li class="textLink"><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022">How To Choose Electric Bike For Women 2022</a></li>
          <li>How To Choose Electric Bike For Women 2022 JANUARY 5,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>
        <ul>
          <li><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/blog_banner_2.jpg?v=1642410704" width="100%"></a></li>
          <li class="textLink"><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike">All You Need To Know About Class 2 Bike</a></li>
          <li>All You Need To Know About Ebike Classes December 23,...</li>
          <li><hr style="height: 1px; padding: 0; margin: 0; color: black !important;"></li>
        </ul>

      </div>
    </div>
  </div>
</div>
<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="element-margin center">
    <a href="{{ blog.url }}" class="article-template__link link animate-arrow{% if blog.comments_enabled? == false %} spaced-section{% endif %}">
      <span class="icon-wrap">{% render 'icon-arrow' %}</span>
      {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
    </a>
  </div>
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-secondary">
      <div id="comments" class="page-width page-width--narrow">
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                     {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
            </div>
          {%- endif -%}

          <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
                <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
  </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
