<div id="sectionMainIndex-{{ section.id }}" class="sectionMainIndex">
    <div>
        <!-- <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main1_4628ffd7-bb2a-45f5-81c8-67c0943fd354.jpg?v=1641362325" class="bannerMainImage"> -->
        <img src="{{ section.settings.image | img_url: '1500x' }}" class="bannerMainImage" width="300" height="auto" >
    </div>
    <div class="advertingBlock" >
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'heading' -%}
                  <div class="sectionMainIndex-heading" style="margin: {{ block.settings.text_margin }}; font-style: {{ block.settings.font_style }}; border: 0px solid blue; line-height: {{ block.settings.text_line_height }}px; color: {{ block.settings.text_color }}; font-size: {{ block.settings.text_size }}px; font-weight: {{ block.settings.text_weight }};">{{ block.settings.text | newline_to_br}}</div>
                {%- when 'bannerInfo' -%}
                  <div class="sectionMainIndex-bannerInfo" style="padding: {{ block.settings.text_padding }}; margin: {{ block.settings.text_margin }}; border: 0px solid blue; line-height: {{ block.settings.text_line_height }}px; color: {{ block.settings.text_color }}; font-size: {{ block.settings.text_size }}px; font-weight: {{ block.settings.text_weight }};">{{ block.settings.text | newline_to_br}}</div>
                {%- when 'text_with_dot' -%}
                  <div class="sectionMainIndex-text_with_dot" style="padding: {{ block.settings.text_padding }}; margin: {{ block.settings.text_margin }}; line-height: {{ block.settings.text_line_height }}px; color: {{ block.settings.text_color }}; font-size: {{ block.settings.text_size }}px; font-weight: {{ block.settings.text_weight }};"><sapn style="color:#a4de2f;">•</sapn>{{ block.settings.text1 | newline_to_br}}<sapn style="color:#a4de2f;">•</sapn>{{ block.settings.text2 | newline_to_br}}<sapn style="color:#a4de2f;">•</sapn>{{ block.settings.text3 | newline_to_br}}<sapn style="color:#a4de2f;">•</sapn>{{ block.settings.text4 | newline_to_br}}</div>
                {%- endcase -%}
            {%- endfor -%}
          <a href="/collections/all-bikes" class="sectionMainIndexBtn"><span>{{ section.settings.button_text }}</span></a>
    </div>
</div>

{% schema %}
{
  "name": "Homepage Banner",
  "max_blocks": 30,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "slider image"
    },
    {
      "type": "text",
      "id": "box_width",
      "label": "Text box width",
      "default": "550"
    },
    {
      "type": "text",
      "id": "box_height",
      "label": "Text box height",
      "default": "260"
    },
    {
      "type": "text",
      "id": "box_top",
      "label": "Text box top(%)",
      "default": "35"
    },
    {
      "type": "text",
      "id": "box_left",
      "label": "Text box left(%)",
      "default": "0"
    },
    {
      "type": "text",
      "id": "box_right",
      "label": "Text box right(%)",
      "default": "6"
    },
    {
      "type": "text",
      "id": "box_bottom",
      "label": "Text box bottom(%)",
      "default": "0"
    },
    {
      "type": "color",
      "id": "box_bgcolor",
      "label": "text box background color",
      "default": "#121212"
    },
    {
      "type": "range",
      "id": "box_bgcolor_opacity",
      "label": "Text box background color opacity",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "LEARN MORE"
    },
    {
      "type": "text",
      "id": "button_text_size",
      "label": "Button text size",
      "default": "30"
    },
    {
      "type": "text",
      "id": "button_text_line_height",
      "label": "Button text height",
      "default": "45"
    },
    {
      "type": "text",
      "id": "button_padding",
      "label": "Button padding",
      "default": "0 0 20px 0"
    },
    {
      "type": "text",
      "id": "button_margin",
      "label": "Button margin",
      "default": "0"
    },
    {
      "type": "range",
      "id": "button_width",
      "label": "Button width(%)",
      "default": 75,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "text",
      "id": "mobile_box_width",
      "label": "Text box width(Mobile)",
      "default": "175"
    },
    {
      "type": "text",
      "id": "mobile_box_height",
      "label": "Text box height(Mobile)",
      "default": "120"
    },
    {
      "type": "text",
      "id": "mobile_box_top",
      "label": "Text box top(%)(Mobile)",
      "default": "35"
    },
    {
      "type": "text",
      "id": "mobile_box_left",
      "label": "Text box left(%)(Mobile)",
      "default": "0"
    },
    {
      "type": "text",
      "id": "mobile_box_right",
      "label": "Text box right(%)(Mobile)",
      "default": "6"
    },
    {
      "type": "text",
      "id": "mobile_box_bottom",
      "label": "Text box bottom(%)(Mobile)",
      "default": "0"
    }

  ],
  "blocks": [
  {
    "type": "heading",
    "name": "heading_text",
    "limit": 6,
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "text",
        "default": "Santa Monica"
      },
      {
        "type": "text",
        "id": "text_line_height",
        "label": "Text line height",
        "default": "25"
      },
      {
        "type": "text",
        "id": "text_padding",
        "label": "Text padding",
        "default": "0 0 20px 0"
      },
      {
        "type": "text",
        "id": "text_margin",
        "label": "Text margin",
        "default": "0 0 40px 0"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "text color",
        "default": "#ffffff"
      },
      {
        "type": "select",
        "id": "font_style",
        "label": "Font style",
        "options": [
          {
            "value": "italic",
            "label": "Italic"
          },
          {
            "value": "normal",
            "label": "Normal"
          }
        ],
        "default": "italic"
      },
      {
        "type": "range",
        "id": "text_size",
        "label": "text size",
        "default": 20,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "text_weight",
        "label": "text weight",
        "default": 600,
        "min": 200,
        "max": 900,
        "step": 100
      }
    ]
  },
  {
    "type": "bannerInfo",
    "name": "banner_info_text",
    "limit": 6,
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "text",
        "default": "Have Fun <br> Out On The Town"
      },
      {
        "type": "text",
        "id": "text_line_height",
        "label": "Text line height",
        "default": "55"
      },
      {
        "type": "text",
        "id": "text_padding",
        "label": "Text padding",
        "default": "0 0 20px 0"
      },
      {
        "type": "text",
        "id": "text_margin",
        "label": "Text margin",
        "default": "0 0 10px 0"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "text color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "text_size",
        "label": "text size",
        "default": 53,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "text_weight",
        "label": "text weight",
        "default": 800,
        "min": 300,
        "max": 900,
        "step": 100
      }
    ]
  },
  {
    "type": "text_with_dot",
    "name": "Text with dot",
    "limit": 6,
    "settings": [
      {
        "type": "text",
        "id": "text1",
        "label": "Text1",
        "default": "Fat Tire eBike"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Text2",
        "default": "Pedal Assit"
      },
      {
        "type": "text",
        "id": "text3",
        "label": "Text3",
        "default": "Twist Throttle"
      },
      {
        "type": "text",
        "id": "text4",
        "label": "Text4",
        "default": "500W Brushless Motor"
      },
      {
        "type": "text",
        "id": "text_padding",
        "label": "Text padding",
        "default": "0 0 20px 0"
      },
      {
        "type": "text",
        "id": "text_margin",
        "label": "Text margin",
        "default": "0 0 30px 0"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "text color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "text_size",
        "label": "text size",
        "default": 15,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "text_line_height",
        "label": "Text line height",
        "default": "17"
      },
      {
        "type": "range",
        "id": "text_weight",
        "label": "text weight",
        "default": 600,
        "min": 300,
        "max": 900,
        "step": 100
      }
    ]
  }
  ],
  "presets":[
    {
      "name": "Homepage Banner",
      "blocks":[
        {
          "type": "heading"
        },
        {
          "type": "bannerInfo"
        },
        {
          "type": "text_with_dot"
        }
      ]
    }
  ]
}
{% endschema %}

{%- capture rgb -%}

{%- endcapture -%}

{%- style -%}
#sectionMainIndex-{{ section.id }}{
  dispaly: block;
  width: 100%;
  position: relative;
  height: auto;
}

#sectionMainIndex-{{ section.id }} > div > img{
  display: block;
  width: 100%;
  height: auto;
}

#sectionMainIndex-{{ section.id }} > div:nth-child(2){
  display: flex;
  flex-direction: column;
  width: {{ section.settings.box_width }}px;
  height: {{ section.settings.box_height }}px;
  position: absolute;
  top: {{ section.settings.box_top }}%;
  left: {{ section.settings.box_left }}%;
  right: {{ section.settings.box_right }}%;
  bottom: {{ section.settings.box_bottom }}%;
  <!-- border: 1px solid yellow; -->
  justify-content: flex-start;
  align-items: {{ section.settings.text_alignment }};
  background-color: {{ section.settings.box_bgcolor | color_modify: 'alpha', 0.2 }};

}

.sectionMainIndexBtn{
  display: block;
  background-color: #EF6B24;
  color: white;
  font-size: {{ section.settings.button_text_size }}px;
  font-weight: bolder;
  line-height: {{ section.settings.button_text_line_height }}px;
  text-decoration: none;
  width: {{ section.settings.button_width }}%;
  /* margin: 0 auto; */
  text-align: center;
}

@media screen and (max-width: 749px){
  #sectionMainIndex-{{ section.id }} > div:nth-child(2){
    display: flex;
    flex-direction: column;
    width: {{ section.settings.mobile_box_width }}px;
    height: {{ section.settings.mobile_box_height }}px;
    position: absolute;
    top: {{ section.settings.mobile_box_top }}%;
    left: {{ section.settings.mobile_box_left }}%;
    right: {{ section.settings.mobile_box_right }}%;
    bottom: {{ section.settings.mobile_box_bottom }}%;
    border: 0px solid yellow;
    justify-content: flex-start;
    align-items: {{ section.settings.mobile_text_alignment }};
  }
  
  .sectionMainIndexBtn{
    display: block;
    background-color: #EF6B24;
    color: white;
    font-size: {{ section.settings.mobile_button_text_size }}px;
    font-weight: bolder;
    line-height: {{ section.settings.mobile_button_text_line_height }}px;
    text-decoration: none;
    width: {{ section.settings.mobile_button_width }}%;
    /* margin: 0 auto; */
    text-align: center;
  }
}

{%- endstyle -%}
<style>
@media screen and (max-width: 749px){
  .sectionMainIndex-heading{
    font-size: 10px !important;
    line-height: 10px !important;
    font-weight: bold !important;
    font-style: italic !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 5px !important;
  }
  .sectionMainIndex-bannerInfo{
    font-size: 12px !important;
    line-height: 12px !important;
    font-weight: bolder !important;
    line-height: 16px !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 5px !important;
  }

  .sectionMainIndex-text_with_dot{
    font-size: 10px !important;
    line-height: 10px !important;
    font-weight: 500 !important;
    margin-bottom: 5px !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 90% !important;
  }

  .sectionMainIndexBtn{
    display: block !important;
    background-color: #EF6B24 !important;
    color: white !important;
    font-size: 8px !important;
    font-weight: bolder !important;
    line-height: 20px !important;
    text-decoration: none !important;
    width: 70% !important;
    /* margin: 0 auto; */
    text-align: center !important;
  }

}

</style>