<div id="mainIndex3Col-{{ section.id }}" class="mainIndex3Col">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'single_Column' -%}
        <a href="/collections/fat-tire-ebike" id="mainIndex3Col_1-{{ block.id }}">
            <img src="{{ block.settings.image | img_url: '300x' }}" width="300" height="auto" loading="lazy">
            <ul>
                <li>{{ block.settings.text1 }}</li>
                <li>{{ block.settings.text2 }}</li>
            </ul>
        </a>
        {%- style -%}
        #mainIndex3Col_1-{{ block.id }}{
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          /* float: left; */
          padding: {{ block.settings.block_padding }};
          text-decoration: none;
          color: black;
          transition: transform ease-in-out 0.3s;
          
        }
        #mainIndex3Col_1-{{ block.id }} > ul{
            position: absolute;
            top: {{ block.settings.text_top }}px;
            left: {{ block.settings.text_left }}px;
            list-style: none;
        }
        #mainIndex3Col_1-{{ block.id }} > ul > li:first-child{
            font-size: {{ block.settings.text_size }}px;
            font-weight: {{ block.settings.text_weight }};
            line-height: {{ block.settings.line_height }}px;
        }

        {%- endstyle -%}
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "3Col product",
  "tag": "section",
  "max_blocks": 10,
  "settings": [
      {
        "type":"text",
        "id": "col_margin",
        "label": "3 Column margin"
      }
    ],
  "blocks":[
  {
    "type":"single_Column",
    "name": "Single Column",
    "limit": 3,
    "settings":[
      {
        "type": "image_picker",
        "id": "image",
        "label": "Column Image"
      },
      {
        "type": "text",
        "id": "block_padding",
        "label": "Block padding"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "text1"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "text2"
      },
      {
        "type": "text",
        "id": "text_top",
        "label": "Text Top"
      },
      {
        "type": "text",
        "id": "text_right",
        "label": "Text Right"
      },
      {
        "type": "range",
        "id": "text_size",
        "label": "Text Size",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 16
      },
      {
        "type": "range",
        "id": "text_weight",
        "label": "Text Weight",
        "min": 300,
        "max": 900,
        "step": 100,
        "default": 300
      },
      {
        "type": "text",
        "id": "line_height",
        "label": "Line Height"
      }
    ]
  }
  ],
  "presets":[
    {
      "name": "Homepage 3 Column",
      "blocks":[
        {
          "type": "single_Column"
        }
      ]
    }
  ]
}

{% endschema %}
{%- style -%}
#mainIndex3Col-{{ section.id }}{
  position: relative;
  display: flex;
  margin: {{ section.settings.col_margin }}px;
}


{%- endstyle -%}