<div class="popularEBikesColHeader">
  <ul>
      <li>{{ section.settings.text1 }}</li>
      <li><p>{{ section.settings.text2 }}<a href="{{ section.settings.clickHere_link }}">click here</a></p><a href="{{ section.settings.viewAll_link }}">View all</a></li>
  </ul>
</div>
<div class="popularEBikes">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'product_card' -%}
        <ul>
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
          <li><a href="{{ block.settings.product.url }}"><img src="{{ block.settings.product.first_available_variant.image | img_url: '500x' }}" width="300" height="auto" loading="lazy"></a></li>
          {%- else -%}
          <li><a href="{{ block.settings.product.url }}"><img src="{{ block.settings.product.featured_image | img_url: '500x' }}" width="300" height="auto" loading="lazy"></a></li>
          {%- endif -%}
          <li class="popularEBikesTitle">{{ block.settings.text1 }}</li>
          <li class="popularEBikesStar"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
          <li class="popularEBikesPrice">{{ block.settings.product.first_available_variant.price | money }}</li>
          <li><a href="{{ block.settings.product.url }}">Shop Now</a></li>
        </ul>
        {%- style -%}

        {%- endstyle -%}
    {%- endcase -%}
  {%- endfor -%}
</div>
{% schema %}
{
  "name": "Homepage 4 Column",
  "tag": "section",
  "max_blocks": 10,
  "settings":[
    {
      "type": "text",
      "id": "text1",
      "label": "text1"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "text2"
    },
    {
      "type": "url",
      "id": "clickHere_link",
      "label": "Click here link"
    },
    {
      "type": "url",
      "id": "viewAll_link",
      "label": "View all link"
    }
  ],
  "blocks":[
    {
      "type": "product_card",
      "name": "Product Card",
      "limit": 6,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Product Name"
        }
      ]
    }
  ],
  "presets":[
    {
      "name": "Homepage 4 Column",
      "blocks":[
        {
          "type": "product_card"
        }
      ]
    }
  ]
}
{% endschema %}
{%- style -%}
.popularEBikes{
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  margin: 0 50px;
  margin-top: 20px;
  /* border: 1px solid crimson; */
}

.popularEBikes > ul > li:first-child > a{
  display: block;
  <!-- border: 1px solid blue; -->
  width: 100%;
  align-items: center;
}

.popularEBikes > ul > li:first-child{
  padding-top: 90px;
  padding-bottom: 50px;
}

.popularEBikes > ul > li:first-child > a > img{
  dispaly: block;
  width: 90%;
  height: auto;
  <!-- border: 1px solid red; -->
  margin: 0px auto;
  transition: transform ease-in-out 0.3s;
}
{%- endstyle -%}