<section class="page-width">
  <div id="performance">
    <div class="tabRoundCorner"></div>
    <div class="bigMenuStyle" >{{ section.settings.text1 }}</div>
    <div class="performance_desc">{{ section.settings.text2 }}</div>
		<div class="performance_main_desc">
      <div class="performance_main_desc_img">
        <img id="performanceMainImg" width="100%" height="100%" src="{{ section.settings.image | img_url: '1600x' }}" >
      </div>
      <div id="performanceMainDescData" class="performance_main_desc_data">
        <div>
          <ul class="performance_main_desc_data_ul">
            <li id="gearHub" class="perf_big">{{ section.settings.text3 }}</li>
            <li class="perf_bold">{{ section.settings.text4 }}</li>
          </ul>
        </div>
        <div>
          <ul>
            <li id="milesPerCharge" class="perf_big">{{ section.settings.text5 }}</li>
            <li class="perf_bold">{{ section.settings.text6 }}</li>
          </ul>
        </div>
        <div class="columnSplitMiddle">
          <ul>
            <li id="maxTorque" class="perf_big">{{ section.settings.text7 }}</li>
            <li class="perf_bold">{{ section.settings.text8 }}</li>
          </ul>
        </div>
        <div>
          <ul>
            <li id="perdalAssLevel" class="perf_big">{{ section.settings.text9 }}</li>
          <li class="perf_bold">{{ section.settings.text10 }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="perf_wrapper">
      <div class="uni_imgSlider">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'performance_detail' -%}
              <div class="item">
                <ul>
                  <li><img src="{{ block.settings.image | img_url: '500x' }}" width="450" height="300"></li>
                  <li class="titleStyle">{{ block.settings.text1 }}</li>
                  <li>{{ block.settings.text2 }}</li>
                </ul>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
		</div>
    <div id="perf_ctlBtn1">
      <div class="leftBtns"></div>
      <div class="rightBtns">
        <div id="fun_perf_prevBtn2" class="arrow left" onclick="fun_Uni_prevBtn2(this.id)"></div>
        <div id="fun_perf_nextBtn2" class="arrow right" onclick="fun_Uni_nextBtn2(this.id)"></div>
      </div>
    </div>
	</div>
</section>
{% schema %}
{
  "name": "Product Performance Block",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "text1",
      "label": "Block Name"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Block Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Performance Main Image"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Value 1"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "Text 1"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "Value 2"
    },
    {
      "type": "text",
      "id": "text6",
      "label": "Text 2"
    },
    {
      "type": "text",
      "id": "text7",
      "label": "Value 3"
    },
    {
      "type": "text",
      "id": "text8",
      "label": "Text 3"
    },
    {
      "type": "text",
      "id": "text9",
      "label": "Value 4"
    },
    {
      "type": "text",
      "id": "text10",
      "label": "Text 4"
    }
  ],
  "blocks": [
    {
      "type": "performance_detail",
      "name": "Performance Detail",
      "limit": 10,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text 1"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Performance Block",
      "blocks": [
        {
          "type": "performance_detail"
        }
      ]
    }
  ]
}
{% endschema %}