<section class="page-width">
  <div class="wpas_content1">
    <div>
      <img src="{{ section.settings.image | img_url: '1000x' }}" width="300" height="auto" loading="lazy" alt="">
      <div><a onclick="wpas1_toggle();"><img src="{{ section.settings.image2 | img_url: '100x' }}" width="80" class="wpas_content1Btn" ></a></div>
    </div>
    <div>
      <p>{{ section.settings.text2 }}</p>
      <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
      <p><img src="{{ section.settings.image3 | img_url: '100x' }}" width="100" alt=""></p>
      <p>{{ section.settings.text3 }}</p>
    </div>
  </div>
  <div class="trailer1">
      <iframe width="900" height="506" src="https://www.youtube.com/embed/{{ section.settings.text1}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="close1"><i class="fas fa-times-circle" onclick="wpas1_toggle();"></i></div>
  </div>
</section>
{% schema %}
{
  "name": "Procudt People Say1",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "video_banner"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Button Image"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "People image"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Video code"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "People Words"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "People Name"
    }
  ],
  "presets": [
    {
      "name": "Procudt People Say1",
      "blocks": []
    }
  ]
}
{% endschema %}
{% style %}
/******what people are saying  content1*********/
.wpas_content1{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.wpas_content1 div:first-child{
  width: 50%;
  position: relative;
}

.wpas_content1 div:first-child > div{
  position: absolute;
  /* top: calc(50% - 25px);
  left: calc(50% -25px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid coral; */
  text-align: center;
}

.wpas_content1 > div:first-child > img{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wpas_content1 div:first-child > div > a > img{
  display: block;
  margin: 0 auto;
  transition: all ease-in-out 0.3s; /* here must use all not scale */
}

.wpas_content1 div:first-child > div > a > img:hover{
  cursor: pointer;
}

.zoomImgIn{
  transform: scale(1.05);
}

.zoomImgOut{
  transform: scale(1.0);
}


.wpas_content1 div:first-child img{
  display: block;
}

.wpas_content1 div:nth-child(2){
  margin: 0 20px;
  width: 50%;
}

.wpas_content1 div:nth-child(2) p{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.wpas_content1 div:nth-child(2) p:first-child{
  width: 80%;
  font-size: 18px;
  font-weight: bolder;
  color: black;
}

.wpas_content1 div:nth-child(2) p:nth-child(2){
  font-size: 20px;
  color: #a4de2f;
}

.wpas_content1 div:nth-child(2) p img{
  border: 0;
  width: 80px;
  border-radius: 50%; /* clip-path:circle() is not right*/
}

/******** pop up video -begin- ******/
.trailer1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  /* visibility: visible; */
  opacity: 0;
  /* border: 1px solid crimson; */
}

.trailer1.active{
  visibility: visible;
  opacity: 1;
}

.close1{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  max-width: 200px;
  /* border: 1px solid chocolate; */
}

.close1 i{
  color: #a4de2f;
}

.trailer1 iframe{
  position: relative;
  max-width: 900px;
  /* outline: none; */
  border: 1px solid #666;
}
{% endstyle %}

{%- javascript -%}
  function wpas1_toggle(){
    var trailer1 = document.querySelector(".trailer1");
    trailer1.classList.toggle("active");
  }

  var wpas_content1Btn = document.querySelector('.wpasContent1Btn');
  wpas_content1Btn.addEventListener('mouseover', function(){
    wpas_content1Btn.classList.remove('zoomImgOut');
    wpas_content1Btn.classList.add('zoomImgIn');
    // console.log('mouse over');
    setTimeout(() => {
      // console.log('mouse out');
      wpas_content1Btn.classList.remove('zoomImgIn');
      wpas_content1Btn.classList.add('zoomImgOut');
    }, 300);
  })
{%- endjavascript -%}
